In [21]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [22]:
df=pd.read_csv('hr_limpio.csv',index_col=0)

In [23]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

from tqdm import tqdm

In [111]:
# ahora creamos la conexión con los argumentos:

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='localhost', port='3306',
                              database='base_datos_empleados',
                              )

print(cnx)
cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x000001CB44EFEED0>

## Tabla contrato

In [26]:
df_contrato=df[['department','businesstravel','joblevel','jobrole','stockoptionlevel','trainingtimeslastyear','remotework']]

In [28]:
contrato=[tuple(i) for i in df_contrato.values]

[('unknown', 'unknown', 'expert', ' research director ', 0, 5, 'yes'),
 ('unknown', 'unknown', 'expert', ' manager ', 1, 5, 'yes'),
 (' research & development ',
  'travel_rarely',
  'expert',
  ' manager ',
  0,
  3,
  'yes'),
 ('unknown', 'travel_rarely', 'advanced', ' research director ', 2, 2, 'no'),
 ('unknown', 'unknown', 'advanced', ' sales executive ', 1, 5, 'no'),
 (' research & development ', 'unknown', 'advanced', ' manager ', 1, 3, 'yes'),
 ('unknown', 'unknown', 'experienced', ' sales executive ', 0, 3, 'yes'),
 ('unknown', 'travel_rarely', 'intermediate', ' sales executive ', 0, 3, 'no'),
 ('unknown', 'unknown', 'advanced', ' manager ', 1, 2, 'yes'),
 ('unknown', 'travel_frequently', 'expert', ' research director ', 1, 2, 'no'),
 ('unknown', 'non-travel', 'expert', ' research director ', 2, 3, 'no'),
 ('unknown',
  'travel_rarely',
  'advanced',
  ' manufacturing director ',
  1,
  0,
  'no'),
 ('unknown', 'unknown', 'experienced', ' research director ', 1, 3, 'yes'),
 ('unknown', 'travel_rarely', 'expert', ' research director ', 0, 0, 'no'),
 ('unknown', 'unknown', 'expert', ' research director ', 0, 3, 'yes'),
 ('unknown', 'travel_rarely', 'expert', ' manager ', 0, 2, 'no'),
 ('unknown', 'travel_rarely', 'expert', ' research director ', 0, 2, 'no'),
 ('unknown', 'travel_rarely', 'advanced', ' manager ', 0, 2, 'no'),
 ('unknown', 'unknown', 'intermediate', ' research scientist ', 0, 2, 'no'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' manufacturing director ',
  2,
  2,
  'yes'),
 (' research & development ',
  'non-travel',
  'experienced',
  ' healthcare representative ',
  1,
  3,
  'no'),
 ('unknown', 'unknown', 'experienced', ' research director ', 0, 1, 'yes'),
 ('unknown',
  'unknown',
  'experienced',
  ' healthcare representative ',
  3,
  2,
  'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 1, 3, 'no'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  1,
  1,
  'yes'),
 ('unknown', 'unknown', 'experienced', ' manufacturing director ', 1, 2, 'no'),
 ('unknown', 'unknown', 'expert', ' manager ', 1, 3, 'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' manufacturing director ',
  0,
  2,
  'no'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' laboratory technician ',
  1,
  3,
  'yes'),
 (' sales ', 'non-travel', 'intermediate', ' sales executive ', 1, 3, 'yes'),
 (' sales ', 'unknown', 'experienced', ' sales executive ', 1, 3, 'yes'),
 (' research & development ',
  'unknown',
  'experienced',
  ' healthcare representative ',
  0,
  3,
  'yes'),
 ('unknown', 'travel_rarely', 'expert', ' manager ', 1, 3, 'yes'),
 ('unknown', 'unknown', 'intermediate', ' sales executive ', 0, 2, 'no'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' research scientist ',
  0,
  3,
  'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 3, 2, 'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 1, 3, 'yes'),
 (' research & development ',
  'unknown',
  'entry',
  ' laboratory technician ',
  1,
  4,
  'yes'),
 ('unknown',
  'travel_frequently',
  'experienced',
  ' sales executive ',
  0,
  5,
  'yes'),
 ('unknown',
  'travel_frequently',
  'experienced',
  ' sales executive ',
  1,
  2,
  'no'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' manufacturing director ',
  1,
  3,
  'no'),
 ('unknown', 'travel_rarely', 'entry', ' laboratory technician ', 0, 3, 'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 1, 3, 'no'),
 ('unknown', 'travel_rarely', 'entry', ' laboratory technician ', 0, 1, 'yes'),
 ('unknown', 'unknown', 'intermediate', ' research scientist ', 3, 2, 'no'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  2,
  3,
  'yes'),
 ('unknown',
  'unknown',
  'experienced',
  ' healthcare representative ',
  0,
  1,
  'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 2, 3, 'yes'),
 ('unknown', 'unknown', 'entry', ' research scientist ', 0, 3, 'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  0,
  2,
  'yes'),
 ('unknown', 'unknown', 'experienced', ' research director ', 1, 3, 'no'),
 ('unknown', 'unknown', 'advanced', ' manager ', 1, 2, 'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 0, 3, 'no'),
 ('unknown', 'unknown', 'expert', ' manager ', 0, 2, 'yes'),
 ('unknown',
  'non-travel',
  'intermediate',
  ' healthcare representative ',
  1,
  2,
  'yes'),
 ('unknown', 'non-travel', 'intermediate', ' sales executive ', 1, 4, 'yes'),
 ('unknown', 'unknown', 'intermediate', ' research scientist ', 3, 3, 'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' manufacturing director ',
  0,
  2,
  'no'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  1,
  1,
  'yes'),
 ('unknown', 'unknown', 'experienced', ' sales executive ', 1, 2, 'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' laboratory technician ',
  0,
  3,
  'yes'),
 ('unknown', 'unknown', 'intermediate', ' research scientist ', 2, 2, 'no'),
 ('unknown', 'unknown', 'intermediate', ' research scientist ', 0, 3, 'yes'),
 ('unknown',
  'travel_frequently',
  'intermediate',
  ' healthcare representative ',
  1,
  2,
  'no'),
 (' research & development ',
  'travel_rarely',
  'advanced',
  ' manufacturing director ',
  1,
  2,
  'no'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' healthcare representative ',
  0,
  3,
  'yes'),
 (' sales ', 'travel_rarely', 'advanced', ' sales executive ', 1, 2, 'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' research scientist ',
  0,
  3,
  'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' healthcare representative ',
  3,
  0,
  'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' healthcare representative ',
  0,
  2,
  'yes'),
 (' research & development ',
  'non-travel',
  'intermediate',
  ' healthcare representative ',
  1,
  5,
  'yes'),
 ('unknown', 'unknown', 'experienced', ' research director ', 3, 3, 'no'),
 ('unknown',
  'unknown',
  'advanced',
  ' healthcare representative ',
  1,
  3,
  'yes'),
 ('unknown',
  'travel_frequently',
  'intermediate',
  ' research scientist ',
  2,
  4,
  'yes'),
 ('unknown', 'unknown', 'entry', ' laboratory technician ', 3, 6, 'yes'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' manufacturing director ',
  1,
  4,
  'yes'),
 (' research & development ',
  'unknown',
  'intermediate',
  ' research scientist ',
  1,
  3,
  'no'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' research director ',
  1,
  2,
  'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' healthcare representative ',
  3,
  3,
  'yes'),
 ('unknown', 'travel_rarely', 'advanced', ' sales executive ', 0, 1, 'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' manager ', 0, 6, 'no'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' healthcare representative ',
  1,
  3,
  'yes'),
 ('unknown',
  'travel_frequently',
  'experienced',
  ' sales executive ',
  1,
  5,
  'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 0, 2, 'yes'),
 (' research & development ',
  'travel_rarely',
  'experienced',
  ' healthcare representative ',
  3,
  5,
  'no'),
 ('unknown', 'unknown', 'experienced', ' research director ', 1, 3, 'yes'),
 ('unknown', 'unknown', 'advanced', ' research director ', 1, 3, 'yes'),
 ('unknown', 'unknown', 'experienced', ' manufacturing director ', 0, 2, 'no'),
 ('unknown',
  'unknown',
  'intermediate',
  ' manufacturing director ',
  0,
  3,
  'yes'),
 (' research & development ',
  'unknown',
  'experienced',
  ' healthcare representative ',
  1,
  3,
  'yes'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' healthcare representative ',
  1,
  6,
  'yes'),
 (' sales ', 'unknown', 'intermediate', ' sales executive ', 1, 2, 'no'),
 (' research & development ',
  'unknown',
  'entry',
  ' research scientist ',
  1,
  5,
  'no'),
 ('unknown', 'travel_frequently', 'entry', ' research scientist ', 0, 2, 'no'),
 ('unknown', 'unknown', 'expert', ' manager ', 0, 2, 'yes'),
 ('unknown', 'travel_frequently', 'expert', ' manager ', 1, 5, 'no'),
 (' research & development ',
  'travel_rarely',
  'advanced',
  ' research director ',
  1,
  3,
  'yes'),
 ('unknown', 'unknown', 'intermediate', ' laboratory technician ', 1, 3, 'no'),
 ('unknown', 'unknown', 'entry', ' human resources ', 3, 3, 'yes'),
 ('unknown', 'unknown', 'expert', ' research director ', 0, 3, 'no'),
 (' research & development ',
  'unknown',
  'intermediate',
  ' research scientist ',
  0,
  3,
  'no'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 2, 3, 'yes'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' manufacturing director ',
  1,
  1,
  'no'),
 ('unknown',
  'unknown',
  'experienced',
  ' healthcare representative ',
  1,
  5,
  'no'),
 (' human resources ',
  'unknown',
  'intermediate',
  ' human resources ',
  0,
  2,
  'no'),
 ('unknown',
  'unknown',
  'intermediate',
  ' laboratory technician ',
  1,
  2,
  'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 1, 2, 'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' laboratory technician ',
  2,
  4,
  'yes'),
 ('unknown',
  'travel_frequently',
  'intermediate',
  ' manufacturing director ',
  0,
  2,
  'no'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' research director ',
  2,
  5,
  'no'),
 ('unknown',
  'unknown',
  'intermediate',
  ' manufacturing director ',
  1,
  3,
  'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 2, 3, 'yes'),
 ('unknown',
  'travel_frequently',
  'experienced',
  ' laboratory technician ',
  1,
  2,
  'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 0, 3, 'yes'),
 ('unknown', 'unknown', 'experienced', ' manufacturing director ', 1, 2, 'no'),
 (' research & development ', 'unknown', 'expert', ' manager ', 1, 2, 'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' research scientist ',
  2,
  3,
  'yes'),
 (' sales ',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  3,
  2,
  'yes'),
 ('unknown', 'unknown', 'experienced', ' manufacturing director ', 0, 2, 'no'),
 ('unknown', 'unknown', 'experienced', ' sales executive ', 1, 2, 'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 2, 2, 'yes'),
 ('unknown', 'travel_rarely', 'advanced', ' manager ', 0, 2, 'yes'),
 ('unknown', 'unknown', 'intermediate', ' sales executive ', 0, 2, 'yes'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' manufacturing director ',
  1,
  5,
  'no'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' research scientist ',
  2,
  3,
  'yes'),
 ('unknown', 'unknown', 'expert', ' research director ', 1, 5, 'yes'),
 (' research & development ',
  'travel_rarely',
  'entry',
  ' research scientist ',
  1,
  4,
  'yes'),
 ('unknown', 'travel_rarely', 'entry', ' research scientist ', 0, 2, 'no'),
 (' research & development ',
  'unknown',
  'experienced',
  ' research director ',
  0,
  3,
  'yes'),
 ('unknown', 'travel_rarely', 'advanced', ' research director ', 0, 0, 'yes'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' laboratory technician ',
  1,
  3,
  'no'),
 ('unknown', 'unknown', 'experienced', ' sales executive ', 1, 2, 'no'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' healthcare representative ',
  1,
  4,
  'no'),
 (' sales ', 'unknown', 'advanced', ' manager ', 1, 3, 'no'),
 ('unknown',
  'non-travel',
  'intermediate',
  ' manufacturing director ',
  0,
  0,
  'no'),
 ('unknown',
  'travel_frequently',
  'advanced',
  ' sales executive ',
  0,
  2,
  'yes'),
 ('unknown',
  'travel_frequently',
  'intermediate',
  ' healthcare representative ',
  0,
  3,
  'yes'),
 (' research & development ',
  'travel_rarely',
  'entry',
  ' research scientist ',
  1,
  2,
  'yes'),
 ('unknown', 'travel_rarely', 'advanced', ' research director ', 0, 2, 'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' healthcare representative ',
  0,
  2,
  'no'),
 ('unknown', 'unknown', 'expert', ' manager ', 1, 5, 'yes'),
 ('unknown',
  'non-travel',
  'advanced',
  ' healthcare representative ',
  1,
  3,
  'no'),
 ('unknown', 'travel_rarely', 'expert', ' manager ', 2, 4, 'no'),
 (' human resources ',
  'travel_frequently',
  'intermediate',
  ' human resources ',
  2,
  5,
  'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 2, 4, 'no'),
 ('unknown', 'travel_rarely', 'expert', ' manager ', 1, 5, 'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 1, 2, 'yes'),
 ('unknown',
  'unknown',
  'experienced',
  ' manufacturing director ',
  0,
  0,
  'yes'),
 ('unknown',
  'unknown',
  'experienced',
  ' manufacturing director ',
  0,
  2,
  'yes'),
 (' human resources ',
  'travel_rarely',
  'experienced',
  ' human resources ',
  0,
  3,
  'no'),
 ('unknown', 'unknown', 'intermediate', ' sales executive ', 0, 2, 'yes'),
 ('unknown',
  'travel_frequently',
  'entry',
  ' laboratory technician ',
  0,
  3,
  'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' research scientist ',
  1,
  2,
  'yes'),
 ('unknown', 'travel_rarely', 'intermediate', ' sales executive ', 0, 2, 'no'),
 ('unknown', 'travel_frequently', 'advanced', ' manager ', 1, 2, 'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 0, 3, 'no'),
 ('unknown', 'unknown', 'entry', ' laboratory technician ', 0, 3, 'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' laboratory technician ',
  2,
  3,
  'yes'),
 ('unknown', 'unknown', 'intermediate', ' sales executive ', 0, 2, 'yes'),
 ('unknown', 'travel_rarely', 'entry', ' research scientist ', 0, 3, 'yes'),
 ('unknown', 'unknown', 'intermediate', ' sales executive ', 1, 3, 'no'),
 ('unknown', 'non-travel', 'advanced', ' manager ', 1, 0, 'yes'),
 (' sales ', 'travel_rarely', 'intermediate', ' sales executive ', 1, 4, 'no'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' healthcare representative ',
  1,
  1,
  'yes'),
 ('unknown', 'unknown', 'expert', ' manager ', 1, 0, 'yes'),
 (' research & development ',
  'unknown',
  'intermediate',
  ' research scientist ',
  0,
  2,
  'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' laboratory technician ',
  1,
  2,
  'yes'),
 (' research & development ',
  'unknown',
  'entry',
  ' laboratory technician ',
  1,
  4,
  'yes'),
 ('unknown', 'travel_rarely', 'advanced', ' sales executive ', 1, 2, 'yes'),
 ('unknown', 'travel_rarely', 'advanced', ' manager ', 0, 3, 'yes'),
 ('unknown',
  'travel_frequently',
  'experienced',
  ' sales executive ',
  0,
  0,
  'no'),
 ('unknown',
  'travel_frequently',
  'intermediate',
  ' laboratory technician ',
  0,
  2,
  'yes'),
 ('unknown', 'unknown', 'experienced', ' sales executive ', 1, 3, 'yes'),
 (' research & development ',
  'travel_rarely',
  'intermediate',
  ' manufacturing director ',
  1,
  3,
  'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' laboratory technician ',
  2,
  1,
  'no'),
 (' sales ', 'unknown', 'experienced', ' sales executive ', 0, 3, 'no'),
 ('unknown', 'travel_rarely', 'intermediate', ' sales executive ', 3, 4, 'no'),
 ('unknown', 'unknown', 'intermediate', ' sales executive ', 0, 0, 'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 2, 3, 'no'),
 ('unknown', 'unknown', 'experienced', ' sales executive ', 0, 2, 'yes'),
 (' research & development ',
  'travel_rarely',
  'entry',
  ' research scientist ',
  1,
  2,
  'yes'),
 ('unknown', 'travel_rarely', 'expert', ' manager ', 1, 2, 'no'),
 ('unknown', 'unknown', 'advanced', ' manager ', 1, 1, 'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 0, 2, 'no'),
 (' research & development ',
  'non-travel',
  'experienced',
  ' manufacturing director ',
  0,
  2,
  'yes'),
 ('unknown', 'unknown', 'experienced', ' research director ', 3, 1, 'yes'),
 ('unknown', 'unknown', 'entry', ' sales representative ', 1, 2, 'no'),
 ('unknown', 'unknown', 'intermediate', ' research scientist ', 2, 3, 'no'),
 ('unknown',
  'non-travel',
  'intermediate',
  ' laboratory technician ',
  1,
  3,
  'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  1,
  3,
  'yes'),
 ('unknown', 'unknown', 'experienced', ' research director ', 1, 2, 'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' research scientist ',
  2,
  2,
  'yes'),
 ('unknown', 'unknown', 'expert', ' manager ', 1, 3, 'yes'),
 ('unknown', 'unknown', 'expert', ' manager ', 0, 5, 'yes'),
 ('unknown', 'unknown', 'experienced', ' sales executive ', 0, 3, 'yes'),
 (' research & development ',
  'travel_rarely',
  'experienced',
  ' manufacturing director ',
  1,
  6,
  'yes'),
 ('unknown', 'unknown', 'entry', ' research scientist ', 0, 3, 'no'),
 ('unknown', 'unknown', 'entry', ' laboratory technician ', 3, 3, 'yes'),
 (' research & development ',
  'unknown',
  'intermediate',
  ' laboratory technician ',
  2,
  2,
  'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' manufacturing director ',
  1,
  3,
  'yes'),
 (' sales ', 'unknown', 'experienced', ' sales executive ', 2, 3, 'no'),
 ('unknown', 'unknown', 'experienced', ' research director ', 1, 3, 'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  1,
  5,
  'yes'),
 (' research & development ',
  'unknown',
  'advanced',
  ' manufacturing director ',
  0,
  3,
  'no'),
 ('unknown', 'unknown', 'intermediate', ' sales executive ', 1, 3, 'yes'),
 ('unknown',
  'unknown',
  'intermediate',
  ' healthcare representative ',
  1,
  2,
  'no'),
 (' sales ', 'non-travel', 'intermediate', ' sales executive ', 1, 2, 'no'),
 ('unknown', 'travel_rarely', 'entry', ' laboratory technician ', 0, 6, 'yes'),
 ('unknown', 'unknown', 'advanced', ' manager ', 1, 2, 'yes'),
 ('unknown', 'non-travel', 'advanced', ' manager ', 0, 2, 'no'),
 ('unknown',
  'non-travel',
  'intermediate',
  ' laboratory technician ',
  1,
  2,
  'yes'),
 (' research & development ',
  'travel_rarely',
  'experienced',
  ' manufacturing director ',
  0,
  2,
  'yes'),
 ('unknown', 'unknown', 'advanced', ' sales executive ', 1, 3, 'no'),
 ('unknown', 'unknown', 'experienced', ' sales executive ', 1, 3, 'yes'),
 ('unknown', 'unknown', 'entry', ' laboratory technician ', 1, 5, 'no'),
 (' research & development ',
  'unknown',
  'intermediate',
  ' manufacturing director ',
  1,
  2,
  'yes'),
 ('unknown', 'travel_rarely', 'experienced', ' sales executive ', 2, 3, 'yes'),
 ('unknown',
  'travel_frequently',
  'intermediate',
  ' laboratory technician ',
  2,
  2,
  'yes'),
 ('unknown',
  'non-travel',
  'intermediate',
  ' laboratory technician ',
  3,
  6,
  'yes'),
 ('unknown', 'non-travel', 'experienced', ' sales executive ', 1, 5, 'yes'),
 ('unknown', 'non-travel', 'advanced', ' manager ', 0, 3, 'no'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' research scientist ',
  0,
  4,
  'yes'),
 ('unknown', 'unknown', 'intermediate', ' sales executive ', 0, 6, 'yes'),
 ('unknown', 'travel_rarely', 'expert', ' research director ', 1, 3, 'no'),
 ('unknown',
  'travel_frequently',
  'experienced',
  ' manufacturing director ',
  0,
  2,
  'yes'),
 ('unknown', 'non-travel', 'experienced', ' research director ', 1, 5, 'yes'),
 ('unknown', 'unknown', 'advanced', ' research director ', 0, 2, 'yes'),
 (' research & development ',
  'unknown',
  'advanced',
  ' research director ',
  2,
  3,
  'yes'),
 ('unknown',
  'travel_rarely',
  'experienced',
  ' healthcare representative ',
  0,
  3,
  'yes'),
 ('unknown', 'unknown', 'intermediate', ' research scientist ', 0, 2, 'yes'),
 ('unknown',
  'travel_frequently',
  'experienced',
  ' healthcare representative ',
  1,
  3,
  'yes'),
 ('unknown',
  'unknown',
  'experienced',
  ' healthcare representative ',
  3,
  4,
  'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  1,
  4,
  'yes'),
 ('unknown',
  'travel_rarely',
  'intermediate',
  ' sales executive ',
  1,
  3,
  'yes'),
 ('unknown', 'unknown', 'advanced', ' healthcare representative ', 1, 3, 'no'),

In [29]:
for cont in tqdm(contrato):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='localhost', port='3306',
                                database='base_datos_empleados')


    mycursor = cnx.cursor()
    query = "INSERT INTO datos_contrato (department ,business_travel, job_level, job_role, stock_option_level, training_times_last_year, remote_work) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    val = (cont[0],cont[1],cont[2],cont[3],cont[4],cont[5],cont[6],)
    try: 

        mycursor.execute(query, val)
        cnx.commit()
        print(mycursor.rowcount, "registro insertado.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

1 registro insertado.
1 registro insertado.
1 registro insertado.

1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.
1 registro insertado.

## Tabla encuestas empleado

In [40]:
df_encuestas_empleado=df[['environmentsatisfaction','jobsatisfaction', 'relationshipsatisfaction', 'worklifebalance', 'jobinvolvement']]

In [52]:
df_encuestas_empleado=df_encuestas_empleado.astype('O')

In [53]:
encuestas=[tuple(i) for i in df_encuestas_empleado.values]

In [54]:
encuestas

[(1, 3, 3, 3.0, 3),
 (3, 3, 1, 3.0, 2),
 (3, 4, 4, 3.0, 3),
 (1, 3, 2, 3.0, 3),
 (1, 1, 4, 3.0, 4),
 (4, 4, 2, 3.0, 3),
 (1, 1, 4, 2.0, 3),
 (2, 3, 3, 3.0, 3),
 (2, 1, 2, 3.0, 3),
 (1, 3, 2, 4.0, 3),
 (2, 3, 2, 3.0, 1),
 (4, 2, 1, 3.0, 3),
 (2, 3, 1, 3.0, 1),
 (2, 3, 4, 3.0, 3),
 (3, 2, 4, 3.0, 4),
 (3, 3, 4, 3.0, 3),
 (4, 2, 4, 3.0, 3),
 (3, 1, 1, 3.0, 3),
 (2, 1, 4, 3.0, 4),
 (1, 3, 4, 3.0, 2),
 (3, 3, 4, 2.0, 2),
 (1, 4, 3, 3.0, 3),
 (3, 3, 2, 3.0, 3),
 (3, 4, 3, 2.0, 3),
 (42, 4, 4, 3.0, 3),
 (4, 3, 2, 3.0, 2),
 (1, 4, 4, 3.0, 1),
 (3, 2, 4, 3.0, 3),
 (2, 3, 2, 3.0, 3),
 (4, 3, 3, 3.0, 3),
 (37, 3, 4, 4.0, 3),
 (1, 3, 2, 3.0, 3),
 (3, 3, 4, 2.0, 3),
 (3, 1, 2, 3.0, 2),
 (1, 3, 3, 3.0, 3),
 (2, 1, 3, 3.0, 3),
 (4, 4, 3, 3.0, 3),
 (4, 4, 3, 3.0, 3),
 (3, 1, 4, 4.0, 2),
 (4, 1, 3, 3.0, 2),
 (3, 3, 3, 3.0, 2),
 (35, 1, 3, 3.0, 3),
 (3, 3, 3, 4.0, 3),
 (3, 1, 3, 3.0, 4),
 (4, 1, 1, 3.0, 2),
 (4, 2, 1, 3.0, 3),
 (1, 1, 3, 2.0, 2),
 (3, 4, 4, 4.0, 3),
 (4, 4, 2, 3.0, 3),
 (3, 2, 4, 3.0, 2),
 (4, 1, 2, 3.0, 3),
 (3, 2, 4, 4.0, 3),
 (4, 1, 3, 3.0, 2),
 (1, 3, 4, 3.0, 2),
 (3, 3, 1, 2.0, 3),
 (4, 4, 1, 2.0, 1),
 (2, 4, 4, 3.0, 1),
 (3, 1, 3, 2.0, 3),
 (4, 3, 3, 4.0, 2),
 (3, 4, 1, 2.0, 2),
 (4, 2, 4, 4.0, 3),
 (2, 3, 1, 3.0, 3),
 (2, 4, 2, 3.0, 1),
 (3, 4, 3, 1.0, 3),
 (4, 3, 4, 3.0, 3),
 (3, 3, 2, 3.0, 2),
 (4, 4, 3, 3.0, 4),
 (4, 4, 2, 3.0, 3),
 (25, 3, 2, 3.0, 4),
 (3, 4, 4, 4.0, 3),
 (3, 3, 4, 3.0, 3),
 (4, 1, 3, 3.0, 2),
 (3, 3, 2, 3.0, 2),
 (4, 4, 4, 3.0, 3),
 (2, 2, 4, 3.0, 4),
 (3, 2, 3, 3.0, 2),
 (4, 2, 3, 3.0, 2),
 (3, 4, 1, 3.0, 4),
 (3, 4, 1, 3.0, 2),
 (4, 3, 3, 2.0, 3),
 (3, 1, 4, 3.0, 2),
 (4, 4, 4, 2.0, 3),
 (2, 4, 4, 3.0, 3),
 (4, 2, 2, 3.0, 3),
 (3, 4, 1, 2.0, 4),
 (3, 4, 2, 3.0, 2),
 (1, 2, 3, 3.0, 2),
 (4, 2, 1, 3.0, 2),
 (3, 3, 3, 3.0, 4),
 (3, 3, 3, 2.0, 3),
 (1, 4, 4, 3.0, 3),
 (2, 3, 4, 3.0, 2),
 (1, 4, 2, 3.0, 3),
 (3, 2, 3, 2.0, 3),
 (1, 2, 1, 3.0, 1),
 (27, 2, 1, 2.0, 3),
 (3, 3, 1, 3.0, 2),
 (2, 4, 3, 3.0, 2),
 (1, 2, 4, 3.0, 3),
 (4, 2, 4, 3.0, 2),
 (3, 4, 2, 3.0, 2),
 (31, 4, 3, 3.0, 3),
 (2, 1, 3, 3.0, 4),
 (3, 1, 3, 2.0, 2),
 (3, 4, 4, 1.0, 3),
 (2, 2, 3, 3.0, 3),
 (2, 4, 3, 3.0, 3),
 (3, 1, 3, 3.0, 3),
 (4, 3, 3, 2.0, 2),
 (2, 2, 4, 1.0, 2),
 (39, 1, 2, 3.0, 2),
 (3, 2, 3, 2.0, 3),
 (1, 1, 1, 3.0, 3),
 (3, 1, 4, 3.0, 3),
 (3, 3, 1, 3.0, 2),
 (3, 4, 1, 3.0, 2),
 (4, 4, 1, 3.0, 3),
 (4, 3, 3, 3.0, 2),
 (3, 4, 3, 2.0, 3),
 (1, 4, 1, 3.0, 2),
 (2, 3, 2, 3.0, 2),
 (1, 2, 4, 3.0, 3),
 (2, 3, 3, 3.0, 3),
 (4, 1, 4, 2.0, 3),
 (4, 1, 2, 3.0, 3),
 (4, 3, 3, 3.0, 2),
 (2, 4, 4, 2.0, 3),
 (4, 4, 3, 2.0, 3),
 (3, 3, 4, 4.0, 3),
 (4, 4, 3, 3.0, 3),
 (1, 2, 3, 2.0, 3),
 (21, 4, 2, 3.0, 3),
 (3, 3, 1, 2.0, 2),
 (1, 3, 4, 3.0, 3),
 (1, 4, 1, 3.0, 3),
 (15, 1, 2, 2.0, 3),
 (4, 1, 3, 3.0, 2),
 (4, 2, 1, 3.0, 3),
 (4, 4, 1, 3.0, 3),
 (3, 1, 2, 3.0, 2),
 (2, 2, 3, 3.0, 3),
 (4, 2, 4, 3.0, 2),
 (3, 1, 4, 2.0, 4),
 (3, 2, 4, 4.0, 2),
 (3, 2, 4, 3.0, 2),
 (4, 3, 4, 3.0, 1),
 (3, 2, 2, 3.0, 3),
 (14, 1, 4, 2.0, 2),
 (4, 4, 3, 3.0, 3),
 (2, 1, 1, 2.0, 2),
 (4, 1, 4, 3.0, 1),
 (1, 4, 3, 3.0, 3),
 (2, 3, 1, 2.0, 4),
 (1, 2, 3, 4.0, 2),
 (2, 4, 1, 3.0, 3),
 (4, 3, 4, 3.0, 2),
 (2, 1, 4, 3.0, 3),
 (2, 3, 4, 2.0, 4),
 (4, 4, 1, 4.0, 3),
 (2, 4, 2, 3.0, 2),
 (4, 4, 1, 3.0, 3),
 (2, 2, 4, 2.0, 3),
 (14, 3, 1, 3.0, 2),
 (1, 3, 2, 3.0, 3),
 (3, 2, 1, 3.0, 4),
 (4, 3, 4, 3.0, 2),
 (4, 3, 1, 4.0, 3),
 (4, 3, 4, 1.0, 3),
 (33, 4, 1, 2.0, 2),
 (1, 4, 3, 3.0, 2),
 (4, 3, 4, 3.0, 3),
 (3, 4, 4, 3.0, 3),
 (2, 1, 4, 2.0, 3),
 (1, 4, 2, 3.0, 3),
 (4, 4, 3, 3.0, 2),
 (3, 4, 4, 3.0, 2),
 (3, 2, 2, 2.0, 2),
 (2, 3, 1, 3.0, 3),
 (3, 2, 1, 3.0, 3),
 (2, 4, 4, 3.0, 3),
 (1, 3, 1, 3.0, 3),
 (4, 3, 2, 3.0, 3),
 (1, 4, 4, 3.0, 2),
 (4, 4, 3, 2.0, 1),
 (3, 3, 3, 3.0, 2),
 (2, 4, 3, 3.0, 3),
 (1, 4, 3, 3.0, 3),
 (1, 4, 1, 3.0, 3),
 (2, 2, 3, 3.0, 3),
 (4, 3, 3, 2.0, 2),
 (1, 2, 3, 3.0, 2),
 (4, 4, 4, 3.0, 3),
 (2, 3, 3, 3.0, 3),
 (1, 1, 4, 1.0, 3),
 (3, 1, 3, 3.0, 3),
 (3, 2, 4, 4.0, 3),
 (1, 1, 1, 3.0, 3),
 (4, 3, 3, 3.0, 4),
 (1, 4, 4, 3.0, 3),
 (2, 2, 4, 2.0, 3),
 (3, 4, 1, 4.0, 3),
 (3, 4, 2, 3.0, 2),
 (1, 1, 1, 3.0, 4),
 (3, 4, 3, 3.0, 2),
 (2, 2, 4, 3.0, 3),
 (3, 4, 1, 2.0, 3),
 (4, 3, 4, 2.0, 3),
 (3, 3, 3, 3.0, 3),
 (4, 4, 2, 3.0, 3),
 (4, 3, 4, 3.0, 3),
 (4, 1, 3, 3.0, 3),
 (4, 4, 2, 2.0, 2),
 (4, 2, 2, 3.0, 2),
 (4, 1, 1, 1.0, 2),
 (2, 4, 1, 3.0, 3),
 (4, 4, 2, 2.0, 2),
 (4, 3, 4, 3.0, 4),
 (3, 2, 3, 4.0, 3),
 (3, 4, 1, 3.0, 1),
 (4, 3, 1, 2.0, 3),
 (3, 3, 4, 2.0, 3),
 (3, 4, 3, 3.0, 3),
 (3, 1, 4, 4.0, 3),
 (4, 1, 3, 3.0, 3),
 (3, 2, 1, 3.0, 4),
 (4, 2, 3, 3.0, 2),
 (4, 2, 2, 2.0, 4),
 (2, 1, 4, 2.0, 3),
 (4, 2, 4, 1.0, 2),
 (1, 4, 1, 3.0, 3),
 (4, 4, 3, 1.0, 3),
 (1, 2, 1, 3.0, 3),
 (2, 1, 4, 3.0, 2),
 (3, 2, 4, 3.0, 3),
 (2, 3, 3, 3.0, 3),
 (3, 3, 4, 3.0, 2),
 (4, 2, 3, 3.0, 3),
 (2, 3, 3, 3.0, 3),
 (4, 3, 2, 3.0, 3),
 (4, 4, 4, 3.0, 3),
 (2, 2, 2, 2.0, 3),
 (4, 2, 4, 2.0, 3),
 (4, 1, 4, 3.0, 3),
 (4, 1, 2, 3.0, 4),
 (2, 3, 3, 3.0, 4),
 (4, 4, 2, 4.0, 3),
 (4, 4, 3, 2.0, 3),
 (2, 3, 4, 3.0, 2),
 (2, 3, 1, 3.0, 3),
 (2, 4, 4, 2.0, 2),
 (1, 4, 1, 2.0, 3),
 (4, 1, 2, 3.0, 1),
 (3, 4, 4, 3.0, 3),
 (2, 1, 1, 3.0, 3),
 (2, 2, 3, 3.0, 3),
 (4, 2, 3, 2.0, 3),
 (3, 2, 1, 1.0, 3),
 (1, 4, 2, 3.0, 3),
 (3, 2, 4, 3.0, 2),
 (19, 3, 3, 3.0, 3),
 (4, 4, 3, 2.0, 3),
 (4, 3, 2, 3.0, 2),
 (3, 3, 2, 2.0, 3),
 (3, 2, 4, 3.0, 3),
 (4, 4, 4, 2.0, 3),
 (3, 4, 4, 3.0, 3),
 (3, 4, 4, 1.0, 3),
 (1, 3, 4, 3.0, 1),
 (2, 4, 3, 3.0, 3),
 (1, 3, 3, 2.0, 1),
 (12, 2, 1, 4.0, 3),
 (2, 3, 2, 2.0, 1),
 (3, 3, 3, 3.0, 3),
 (3, 3, 4, 3.0, 3),
 (4, 4, 4, 4.0, 1),
 (2, 2, 1, 3.0, 3),
 (2, 3, 4, 1.0, 3),
 (4, 3, 1, 3.0, 3),
 (4, 2, 3, 2.0, 3),
 (4, 2, 4, 3.0, 3),
 (4, 2, 3, 3.0, 3),
 (4, 2, 4, 2.0, 3),
 (2, 1, 1, 2.0, 4),
 (4, 4, 1, 1.0, 3),
 (4, 4, 1, 3.0, 3),
 (4, 3, 4, 3.0, 3),
 (4, 4, 4, 3.0, 2),
 (3, 3, 1, 4.0, 3),
 (1, 1, 1, 4.0, 3),
 (1, 3, 4, 4.0, 2),
 (1, 3, 4, 3.0, 3),
 (4, 4, 4, 3.0, 2),
 (27, 2, 2, 2.0, 1),
 (3, 4, 2, 3.0, 3),
 (1, 4, 3, 2.0, 4),
 (4, 2, 1, 3.0, 2),
 (3, 1, 1, 3.0, 4),
 (4, 1, 3, 2.0, 3),
 (3, 1, 4, 2.0, 4),
 (3, 3, 3, 2.0, 3),
 (3, 4, 3, 2.0, 3),
 (4, 2, 2, 4.0, 3),
 (3, 3, 3, 3.0, 3),
 (3, 2, 3, 4.0, 3),
 (4, 4, 1, 3.0, 2),
 (3, 4, 4, 3.0, 3),
 (35, 2, 4, 3.0, 1),
 (13, 2, 4, 3.0, 4),
 (3, 3, 3, 3.0, 4),
 (2, 2, 1, 3.0, 3),
 (3, 3, 1, 3.0, 2),
 (4, 4, 3, 1.0, 3),
 (1, 3, 4, 3.0, 4),
 (4, 3, 2, 3.0, 3),
 (3, 3, 3, 3.0, 3),
 (2, 1, 3, 2.0, 4),
 (4, 4, 2, 3.0, 4),
 (3, 2, 4, 3.0, 3),
 (4, 3, 1, 3.0, 3),
 (4, 3, 2, 3.0, 3),
 (3, 2, 1, 3.0, 2),
 (3, 1, 2, 2.0, 3),
 (3, 1, 2, 4.0, 2),
 (2, 1, 1, 2.0, 2),
 (3, 3, 4, 4.0, 3),
 (4, 1, 1, 3.0, 3),
 (36, 3, 2, 3.0, 2),
 (4, 4, 2, 4.0, 3),
 (3, 3, 2, 3.0, 2),
 (12, 2, 2, 2.0, 3),
 (3, 1, 3, 3.0, 3),
 (1, 4, 4, 3.0, 3),
 (3, 3, 1, 3.0, 2),
 (2, 4, 3, 2.0, 2),
 (2, 3, 3, 2.0, 3),
 (1, 4, 2, 3.0, 4),
 (3, 2, 2, 4.0, 2),
 (4, 3, 2, 3.0, 3),
 (3, 1, 4, 3.0, 3),
 (2, 3, 1, 2.0, 3),
 (3, 3, 3, 3.0, 1),
 (3, 3, 1, 2.0, 3),
 (29, 4, 2, 3.0, 4),
 (4, 3, 4, 3.0, 3),
 (3, 1, 3, 3.0, 1),
 (1, 1, 4, 2.0, 3),
 (3, 4, 2, 3.0, 1),
 (4, 4, 2, 2.0, 2),
 (24, 4, 4, 2.0, 3),
 (4, 4, 4, 4.0, 2),
 (1, 4, 4, 3.0, 3),
 (2, 3, 1, 3.0, 3),
 (3, 4, 3, 4.0, 4),
 (4, 3, 1, 3.0, 3),
 (2, 2, 3, 2.0, 3),
 (1, 3, 1, 3.0, 3),
 (4, 4, 4, 2.0, 3),
 (2, 1, 4, 3.0, 3),
 (12, 1, 4, 2.0, 4),
 (4, 4, 2, 3.0, 2),
 (1, 3, 3, 2.0, 4),
 (2, 3, 1, 3.0, 3),
 (1, 3, 1, 1.0, 2),
 (3, 1, 3, 3.0, 3),
 (3, 1, 4, 3.0, 4),
 (3, 4, 1, 3.0, 3),
 (4, 4, 4, 2.0, 3),
 (2, 4, 4, 4.0, 4),
 (3, 3, 3, 3.0, 3),
 (1, 4, 1, 3.0, 3),
 (1, 4, 1, 4.0, 3),
 (2, 1, 2, 3.0, 1),
 (3, 2, 2, 3.0, 3),
 (3, 3, 3, 3.0, 2),
 (1, 1, 3, 1.0, 2),
 (3, 1, 3, 3.0, 1),
 (3, 4, 4, 3.0, 3),
 (3, 3, 3, 3.0, 3),
 (3, 4, 2, 3.0, 2),
 (2, 4, 4, 2.0, 3),
 (3, 1, 1, 3.0, 1),
 (1, 1, 1, 3.0, 2),
 (3, 4, 1, 3.0, 4),
 (2, 1, 4, 3.0, 3),
 (36, 1, 1, 3.0, 2),
 (4, 4, 1, 3.0, 2),
 (1, 4, 3, 3.0, 3),
 (4, 3, 3, 3.0, 4),
 (3, 3, 1, 3.0, 3),
 (4, 3, 3, 3.0, 3),
 (4, 4, 3, 3.0, 3),
 (3, 4, 2, 3.0, 4),
 (3, 4, 3, 2.0, 3),
 (3, 2, 4, 3.0, 3),
 (4, 3, 2, 3.0, 3),
 (4, 1, 4, 3.0, 2),
 (3, 1, 1, 3.0, 2),
 (4, 2, 4, 2.0, 3),
 (2, 2, 2, 3.0, 3),
 (1, 4, 1, 3.0, 2),
 (3, 3, 2, 4.0, 3),
 (1, 1, 1, 3.0, 3),
 (3, 4, 1, 3.0, 4),
 (3, 2, 3, 4.0, 3),
 (4, 3, 3, 2.0, 3),
 (3, 1, 4, 3.0, 3),
 (4, 4, 1, 3.0, 3),
 (1, 4, 3, 3.0, 3),
 (4, 3, 3, 3.0, 3),
 (3, 3, 3, 4.0, 3),
 (2, 3, 2, 3.0, 3),
 (2, 4, 1, 3.0, 3),
 (1, 4, 1, 3.0, 3),
 (46, 4, 3, 3.0, 2),
 (1, 2, 3, 3.0, 2),
 (4, 3, 4, 3.0, 2),
 (1, 4, 3, 3.0, 3),
 (4, 1, 1, 3.0, 2),
 (1, 2, 3, 3.0, 3),
 (1, 4, 4, 3.0, 2),
 (1, 4, 3, 3.0, 3),
 (4, 1, 2, 2.0, 2),
 (3, 3, 4, 3.0, 3),
 (4, 1, 3, 3.0, 2),
 (4, 2, 2, 3.0, 3),
 (3, 2, 4, 3.0, 3),
 (2, 3, 4, 4.0, 3),
 (2, 3, 3, 3.0, 3),
 (2, 4, 2, 2.0, 2),
 (4, 1, 1, 1.0, 2),
 (3, 1, 1, 4.0, 2),
 (1, 3, 3, 2.0, 3),
 (3, 4, 1, 3.0, 3),
 (1, 1, 4, 3.0, 3),
 (4, 4, 4, 1.0, 3),
 (4, 4, 3, 3.0, 2),
 (4, 1, 3, 3.0, 3),
 (2, 3, 3, 3.0, 4),
 (2, 1, 4, 3.0, 2),
 (4, 1, 4, 3.0, 3),
 (2, 2, 4, 3.0, 3),
 (3, 3, 4, 4.0, 4),
 (4, 1, 3, 4.0, 3),
 (3, 3, 2, 3.0, 3),
 (3, 2, 2, 2.0, 1),
 (4, 1, 3, 4.0, 3),
 (3, 4, 4, 3.0, 1),
 (3, 4, 3, 3.0, 2),
 (4, 3, 1, 3.0, 4),
 (13, 1, 4, 2.0, 3),
 (4, 2, 3, 3.0, 2),
 (3, 4, 2, 2.0, 3),
 (4, 1, 4, 3.0, 2),
 (1, 3, 1, 2.0, 3),
 (4, 2, 4, 2.0, 2),
 (4, 3, 4, 3.0, 2),
 (12, 3, 3, 3.0, 3),
 (1, 3, 3, 3.0, 2),
 (2, 2, 3, 3.0, 2),
 (3, 4, 2, 2.0, 3),
 (3, 4, 1, 3.0, 3),
 (3, 2, 1, 1.0, 3),
 (2, 4, 4, 3.0, 3),
 (4, 4, 4, 4.0, 2),
 (2, 4, 3, 4.0, 3),
 (47, 4, 4, 4.0, 3),
 (1, 2, 4, 3.0, 3),
 (2, 2, 2, 2.0, 3),
 (2, 4, 2, 3.0, 4),
 (1, 2, 3, 3.0, 3),
 (2, 4, 4, 3.0, 2),
 (4, 4, 2, 3.0, 4),
 (42, 4, 2, 2.0, 3),
 (4, 4, 3, 3.0, 3),
 (3, 1, 3, 3.0, 2),
 (3, 3, 2, 4.0, 3),
 (16, 1, 4, 2.0, 2),
 (3, 2, 1, 3.0, 4),
 (3, 4, 1, 3.0, 3),
 (4, 2, 4, 2.0, 3),
 (2, 3, 1, 2.0, 3),
 (4, 1, 3, 3.0, 2),
 (1, 4, 4, 3.0, 4),
 (3, 1, 4, 2.0, 3),
 (3, 4, 2, 2.0, 3),
 (1, 4, 3, 2.0, 3),
 (3, 3, 1, 1.0, 4),
 (4, 1, 2, 2.0, 3),
 (4, 2, 3, 2.0, 3),
 (3, 4, 3, 3.0, 3),
 (3, 3, 3, 1.0, 1),
 (2, 4, 1, 1.0, 3),
 (1, 2, 3, 3.0, 4),
 (3, 2, 4, 3.0, 3),
 (2, 2, 2, 3.0, 3),
 (2, 3, 1, 3.0, 2),
 (4, 4, 1, 2.0, 1),
 (2, 3, 2, 4.0, 3),
 (3, 3, 4, 3.0, 2),
 (2, 2, 1, 3.0, 3),
 (3, 2, 3, 2.0, 2),
 (1, 1, 1, 4.0, 3),
 (1, 3, 3, 2.0, 3),
 (3, 2, 2, 3.0, 3),
 (3, 3, 1, 3.0, 3),
 (3, 1, 1, 4.0, 3),
 (4, 4, 4, 4.0, 4),
 (2, 4, 4, 2.0, 3),
 (3, 3, 4, 3.0, 1),
 (3, 4, 3, 1.0, 3),
 (3, 2, 2, 4.0, 2),
 (3, 4, 2, 4.0, 3),
 (1, 2, 1, 2.0, 3),
 (3, 2, 4, 3.0, 3),
 (4, 3, 1, 3.0, 3),
 (3, 2, 4, 3.0, 3),
 (4, 2, 4, 3.0, 2),
 (3, 1, 2, 3.0, 3),
 (22, 3, 1, 3.0, 2),
 (3, 4, 3, 3.0, 3),
 (3, 1, 3, 3.0, 3),
 (4, 2, 3, 3.0, 3),
 (2, 4, 2, 3.0, 2),
 (2, 3, 2, 3.0, 3),
 (4, 3, 3, 3.0, 2),
 (1, 3, 2, 3.0, 3),
 (3, 4, 3, 3.0, 1),
 (4, 3, 3, 3.0, 1),
 (3, 4, 3, 2.0, 2),
 (1, 3, 4, 3.0, 3),
 (2, 3, 3, 3.0, 3),
 (1, 4, 4, 3.0, 3),
 (2, 3, 4, 3.0, 4),
 (2, 4, 2, 2.0, 2),
 (4, 1, 3, 3.0, 3),
 (1, 1, 3, 3.0, 2),
 (4, 4, 2, 3.0, 3),
 (3, 4, 2, 3.0, 3),
 (4, 4, 3, 3.0, 2),
 (3, 3, 1, 3.0, 2),
 (3, 3, 1, 4.0, 3),
 (4, 4, 3, 2.0, 3),
 (2, 4, 3, 1.0, 3),
 (3, 3, 2, 3.0, 2),
 (1, 3, 2, 3.0, 3),
 (1, 4, 3, 2.0, 4),
 (3, 2, 3, 2.0, 3),
 (3, 3, 2, 1.0, 3),
 (2, 1, 4, 3.0, 3),
 (3, 3, 3, 3.0, 3),
 (2, 4, 1, 2.0, 1),
 (2, 3, 4, 3.0, 3),
 (4, 3, 1, 1.0, 3),
 (4, 2, 3, 3.0, 2),
 (3, 3, 3, 3.0, 3),
 (4, 3, 1, 3.0, 3),
 (4, 2, 3, 3.0, 2),
 (1, 3, 3, 3.0, 2),
 (1, 4, 4, 4.0, 2),
 (3, 3, 4, 3.0, 3),
 (41, 4, 1, 4.0, 3),
 (3, 3, 2, 3.0, 3),
 (3, 1, 3, 1.0, 3),
 (1, 2, 4, 3.0, 3),
 (47, 4, 3, 2.0, 2),
 (4, 3, 3, 3.0, 3),
 (4, 2, 1, 2.0, 2),
 (4, 1, 4, 3.0, 3),
 (1, 2, 4, 3.0, 2),
 (3, 3, 3, 2.0, 3),
 (4, 1, 2, 1.0, 3),
 (49, 4, 4, 3.0, 3),
 (1, 1, 4, 4.0, 3),
 (1, 4, 4, 4.0, 3),
 (4, 1, 3, 3.0, 3),
 (4, 2, 3, 3.0, 4),
 (2, 2, 2, 2.0, 2),
 (4, 3, 4, 4.0, 2),
 (2, 2, 1, 1.0, 3),
 (4, 2, 3, 3.0, 3),
 (11, 1, 1, 3.0, 4),
 (4, 3, 1, 3.0, 2),
 (1, 4, 3, 4.0, 2),
 (4, 4, 4, 2.0, 3),
 (4, 3, 2, 3.0, 2),
 (2, 3, 2, 4.0, 1),
 (2, 1, 2, 3.0, 3),
 (48, 4, 3, 2.0, 3),
 (3, 2, 3, 3.0, 3),
 (2, 3, 2, 2.0, 3),
 (2, 4, 4, 3.0, 3),
 (1, 2, 2, 3.0, 4),
 (3, 2, 3, 3.0, 2),
 (41, 1, 2, 1.0, 2),
 (2, 1, 2, 3.0, 3),
 (3, 1, 2, 3.0, 2),
 (4, 3, 4, 2.0, 4),
 (18, 1, 1, 3.0, 4),
 (2, 1, 3, 2.0, 3),
 (4, 4, 4, 3.0, 3),
 (2, 3, 4, 2.0, 2),
 (1, 3, 4, 2.0, 2),
 (3, 2, 4, 2.0, 2),
 (1, 3, 1, 1.0, 3),
 (1, 2, 1, 2.0, 3),
 (4, 4, 3, 3.0, 4),
 (2, 3, 3, 3.0, 3),
 (3, 4, 1, 3.0, 3),
 (2, 4, 4, 3.0, 2),
 (10, 3, 4, 3.0, 3),
 (3, 4, 2, 1.0, 4),
 (1, 4, 3, 4.0, 2),
 (2, 2, 4, 2.0, 3),
 (3, 3, 2, 3.0, 3),
 (4, 3, 4, 4.0, 3),
 (3, 1, 3, 2.0, 2),
 (13, 4, 3, 3.0, 2),
 (3, 2, 1, 3.0, 3),
 (2, 1, 4, 3.0, 4),
 (3, 3, 4, 2.0, 3),
 (1, 1, 3, 3.0, 3),
 (4, 4, 4, 3.0, 3),
 (2, 1, 3, 3.0, 4),
 (4, 3, 4, 3.0, 1),
 (3, 2, 2, 3.0, 3),
 (4, 3, 4, 2.0, 3),
 (45, 4, 3, 2.0, 1),
 (4, 3, 1, 2.0, 3),
 (4, 4, 4, 3.0, 2),
 (1, 2, 2, 3.0, 3),
 (37, 4, 3, 1.0, 3),
 (4, 3, 3, 3.0, 2),
 (1, 4, 1, 3.0, 1),
 (2, 4, 4, 2.0, 3),
 (4, 4, 4, 3.0, 3),
 (3, 3, 1, 3.0, 3),
 (1, 2, 4, 4.0, 3),
 (1, 3, 4, 3.0, 3),
 (1, 3, 3, 2.0, 2),
 (3, 1, 2, 3.0, 3),
 (2, 3, 1, 3.0, 3),
 (2, 1, 4, 4.0, 3),
 (3, 2, 3, 1.0, 4),
 (4, 4, 1, 3.0, 3),
 (4, 1, 3, 2.0, 2),
 (4, 1, 2, 3.0, 3),
 (4, 1, 2, 2.0, 3),
 (3, 3, 4, 3.0, 3),
 (4, 4, 4, 3.0, 2),
 (1, 1, 3, 2.0, 2),
 (1, 1, 3, 2.0, 4),
 (3, 3, 3, 2.0, 4),
 (3, 1, 4, 3.0, 3),
 (3, 4, 2, 2.0, 4),
 (4, 2, 3, 4.0, 3),
 (1, 4, 3, 3.0, 2),
 (3, 4, 2, 3.0, 3),
 (4, 4, 4, 3.0, 3),
 (3, 1, 3, 3.0, 3),
 (2, 1, 1, 2.0, 1),
 (3, 4, 1, 3.0, 2),
 (4, 4, 2, 4.0, 3),
 (2, 2, 1, 3.0, 3),
 (4, 2, 1, 2.0, 3),
 (1, 3, 3, 3.0, 2),
 (1, 1, 1, 3.0, 2),
 (42, 2, 1, 1.0, 2),
 (4, 2, 4, 3.0, 3),
 (3, 3, 1, 3.0, 2),
 (1, 3, 2, 2.0, 1),
 (3, 1, 3, 3.0, 3),
 (4, 4, 3, 2.0, 3),
 (4, 1, 1, 4.0, 4),
 (3, 4, 2, 3.0, 3),
 (1, 3, 2, 3.0, 3),
 (4, 2, 1, 3.0, 3),
 (3, 1, 4, 3.0, 3),
 (3, 1, 3, 3.0, 2),
 (4, 3, 2, 2.0, 4),
 (1, 4, 4, 3.0, 2),
 (1, 1, 1, 3.0, 2),
 (4, 1, 3, 3.0, 3),
 (4, 4, 3, 3.0, 3),
 (4, 1, 1, 3.0, 3),
 (1, 2, 1, 1.0, 3),
 (3, 3, 1, 4.0, 3),
 (11, 3, 2, 3.0, 3),
 (4, 2, 4, 3.0, 2),
 (2, 3, 1, 3.0, 2),
 (3, 3, 3, 3.0, 3),
 (2, 1, 2, 2.0, 1),
 (3, 3, 1, 2.0, 3),
 (1, 4, 3, 3.0, 3),
 (1, 2, 3, 3.0, 3),
 (4, 2, 2, 3.0, 2),
 (2, 4, 3, 3.0, 4),
 (3, 4, 3, 2.0, 1),
 (3, 3, 4, 3.0, 4),
 (4, 3, 3, 3.0, 3),
 (4, 3, 3, 1.0, 1),
 (2, 2, 2, 2.0, 3),
 (3, 1, 2, 3.0, 3),
 (3, 2, 3, 2.0, 3),
 (3, 4, 3, 4.0, 3),
 (3, 3, 3, 3.0, 3),
 (3, 1, 4, 2.0, 3),
 (4, 1, 2, 3.0, 3),
 (3, 4, 4, 3.0, 3),
 (3, 4, 1, 3.0, 3),
 (3, 3, 2, 2.0, 3),
 (3, 4, 4, 3.0, 3),
 (4, 1, 3, 3.0, 3),
 (2, 2, 3, 2.0, 3),
 (2, 1, 4, 1.0, 3),
 (1, 3, 3, 2.0, 3),
 (41, 3, 2, 2.0, 2),
 (1, 3, 4, 3.0, 2),
 (4, 1, 3, 2.0, 3),
 (4, 4, 1, 3.0, 3),
 (1, 3, 2, 2.0, 3),
 (2, 4, 3, 3.0, 3),
 (2, 3, 4, 3.0, 3),
 (2, 4, 1, 2.0, 2),
 (4, 3, 3, 3.0, 3),
 (3, 3, 2, 3.0, 3),
 (3, 4, 4, 3.0, 1),
 (4, 2, 1, 3.0, 2),
 (2, 3, 1, 4.0, 4),
 (1, 2, 4, 3.0, 3),
 (1, 3, 4, 2.0, 3),
 (2, 4, 3, 3.0, 3),
 (3, 3, 2, 3.0, 2),
 (1, 2, 4, 2.0, 4),
 (4, 4, 3, 3.0, 3),
 (1, 3, 4, 2.0, 4),
 (2, 1, 3, 3.0, 3),
 (2, 1, 2, 3.0, 1),
 (2, 1, 4, 2.0, 3),
 (4, 4, 4, 4.0, 3),
 (1, 3, 3, 3.0, 2),
 (4, 4, 1, 3.0, 3),
 (3, 3, 3, 2.0, 3),
 (22, 4, 3, 2.0, 2),
 (3, 1, 3, 3.0, 3),
 (2, 1, 4, 2.0, 3),
 (1, 3, 1, 4.0, 3),
 (38, 2, 4, 3.0, 3),
 (1, 2, 3, 3.0, 3),
 (4, 4, 2, 3.0, 3),
 (1, 3, 1, 2.0, 3),
 (2, 2, 3, 4.0, 3),
 (3, 1, 4, 3.0, 3),
 (3, 4, 4, 3.0, 2),
 (4, 4, 3, 3.0, 2),
 (2, 3, 4, 3.0, 4),
 (3, 4, 4, 3.0, 3),
 (2, 3, 3, 3.0, 1),
 (2, 2, 4, 3.0, 3),
 (1, 4, 4, 3.0, 1),
 (1, 3, 4, 3.0, 2),
 (4, 3, 2, 3.0, 3),
 (4, 1, 4, 3.0, 3),
 (36, 4, 1, 3.0, 3),
 (4, 2, 4, 1.0, 3),
 (3, 4, 3, 1.0, 3),
 (3, 2, 4, 2.0, 3),
 (3, 1, 3, 3.0, 3),
 (3, 4, 3, 3.0, 3),
 (3, 4, 3, 3.0, 3),
 (4, 2, 4, 3.0, 3),
 (3, 3, 4, 2.0, 2),
 (4, 1, 3, 3.0, 4),
 (2, 2, 4, 3.0, 3),
 (3, 1, 3, 3.0, 2),
 (3, 4, 3, 4.0, 3),
 (22, 2, 1, 2.0, 4),
 (4, 4, 4, 1.0, 2),
 (4, 1, 3, 3.0, 3),
 (4, 1, 3, 3.0, 3),
 (3, 3, 4, 2.0, 3),
 (4, 1, 4, 3.0, 3),
 (3, 2, 4, 3.0, 2),
 (3, 4, 2, 2.0, 2),
 (2, 3, 4, 2.0, 3),
 (4, 3, 4, 1.0, 2),
 (24, 3, 3, 3.0, 3),
 (3, 4, 1, 3.0, 3),
 (2, 3, 1, 3.0, 3),
 (3, 4, 3, 2.0, 2),
 (1, 3, 4, 3.0, 4),
 (4, 1, 3, 3.0, 4),
 (4, 4, 4, 3.0, 3),
 (1, 3, 4, 3.0, 3),
 (4, 1, 4, 3.0, 2),
 (4, 4, 4, 3.0, 3),
 (4, 3, 1, 4.0, 2),
 (1, 4, 1, 3.0, 3),
 (4, 4, 2, 3.0, 3),
 (1, 2, 4, 3.0, 3),
 (3, 1, 4, 3.0, 3),
 (4, 2, 3, 2.0, 3),
 (2, 4, 3, 2.0, 3),
 (3, 4, 2, 1.0, 3),
 (1, 4, 3, 2.0, 3),
 (3, 2, 4, 3.0, 2),
 (4, 2, 2, 3.0, 3),
 (2, 3, 3, 3.0, 2),
 (1, 1, 3, 3.0, 3),
 (4, 4, 4, 1.0, 3),
 (4, 3, 4, 2.0, 1),
 (1, 4, 2, 1.0, 3),
 (2, 3, 3, 3.0, 2),
 (3, 2, 2, 4.0, 2),
 (1, 3, 3, 1.0, 3),
 (3, 4, 3, 3.0, 2),
 (4, 2, 1, 3.0, 3),
 (2, 1, 3, 3.0, 3),
 (2, 3, 4, 3.0, 3),
 (3, 3, 3, 3.0, 2),
 (4, 4, 2, 4.0, 3),
 (1, 3, 4, 2.0, 3),
 (4, 3, 4, 3.0, 4),
 (4, 4, 3, 3.0, 3),
 (1, 4, 4, 3.0, 2),
 (3, 4, 2, 3.0, 3),
 (4, 1, 1, 1.0, 2),
 (1, 3, 2, 4.0, 2),
 (3, 3, 4, 3.0, 3),
 (3, 3, 3, 3.0, 3),
 (4, 4, 1, 4.0, 3),
 (1, 3, 4, 3.0, 3),
 (3, 4, 3, 3.0, 3),
 (2, 2, 3, 3.0, 2),
 (1, 4, 4, 3.0, 2),
 (1, 1, 1, 4.0, 4),
 (4, 2, 3, 3.0, 4),
 (14, 2, 4, 3.0, 4),
 (1, 3, 1, 3.0, 3),
 (1, 1, 4, 3.0, 3),
 (4, 2, 4, 3.0, 3),
 (1, 3, 3, 3.0, 1),
 (4, 3, 4, 2.0, 3),
 (3, 3, 4, 3.0, 4),
 (4, 4, 3, 3.0, 2),
 (4, 4, 4, 2.0, 2),
 (4, 2, 4, 3.0, 3),
 (4, 4, 4, 3.0, 3),
 (1, 3, 4, 3.0, 4),
 (4, 1, 4, 3.0, 3),
 (1, 4, 1, 3.0, 1),
 (2, 4, 3, 3.0, 4),
 (3, 4, 2, 3.0, 3),
 (1, 4, 2, 2.0, 3),
 (4, 3, 3, 3.0, 1),
 (3, 1, 2, 3.0, 3),
 (25, 3, 2, 3.0, 3),
 (1, 1, 3, 3.0, 3),
 (20, 3, 3, 3.0, 4),
 (3, 3, 4, 2.0, 3),
 (3, 2, 2, 3.0, 3),
 (3, 4, 3, 3.0, 2),
 (3, 4, 3, 1.0, 3),
 (4, 2, 4, 2.0, 3),
 (2, 4, 3, 2.0, 3),
 (1, 4, 4, 3.0, 2),
 (4, 4, 1, 1.0, 2),
 (1, 4, 3, 2.0, 4),
 (4, 2, 1, 2.0, 3),
 (3, 1, 1, 4.0, 2),
 (3, 1, 2, 3.0, 3),
 (1, 4, 4, 2.0, 2),
 (2, 2, 4, 3.0, 2),
 (2, 3, 3, 3.0, 2),
 (4, 4, 2, 2.0, 3),
 (1, 4, 2, 3.0, 3),
 (3, 3, 4, 2.0, 2),
 (4, 4, 1, 2.0, 2),
 (2, 3, 1, 4.0, 3),
 (3, 3, 2, 3.0, 3),
 (4, 1, 4, 1.0, 3),
 (3, 1, 2, 3.0, 2),
 (2, 4, 3, 3.0, 3),
 (3, 3, 2, 3.0, 3),
 (3, 1, 1, 3.0, 2),
 (2, 4, 1, 3.0, 3),
 (24, 2, 2, 3.0, 3),
 (1, 3, 2, 3.0, 3),
 (4, 3, 2, 3.0, 2),
 (3, 2, 4, 1.0, 2),
 (2, 2, 1, 3.0, 3),
 (1, 3, 4, 3.0, 2),
 (4, 3, 2, 3.0, 3),
 (1, 4, 2, 3.0, 3),
 (2, 4, 1, 2.0, 3),
 (2, 1, 4, 3.0, 1),
 (3, 3, 1, 3.0, 3),
 (4, 4, 2, 3.0, 3),
 (20, 1, 3, 2.0, 3),
 (1, 3, 4, 3.0, 1),
 (4, 2, 2, 3.0, 3),
 (4, 4, 3, 3.0, 2),
 (1, 3, 4, 2.0, 3),
 (1, 4, 3, 2.0, 3),
 (1, 2, 2, 3.0, 2),
 (4, 2, 3, 3.0, 3),
 (4, 4, 4, 3.0, 3),
 (4, 1, 4, 3.0, 3),
 (1, 3, 1, 2.0, 2),
 (4, 1, 3, 3.0, 3),
 (4, 2, 1, 3.0, 3),
 (3, 2, 3, 3.0, 2),
 (3, 4, 2, 2.0, 2),
 (1, 4, 1, 3.0, 3),
 (1, 3, 3, 1.0, 2),
 (3, 1, 4, 3.0, 3),
 (4, 3, 3, 2.0, 3),
 (3, 3, 4, 3.0, 3),
 (4, 4, 2, 3.0, 2),
 (4, 1, 2, 2.0, 3),
 (4, 2, 4, 2.0, 3),
 (1, 3, 4, 3.0, 3),
 (3, 1, 1, 3.0, 3),
 (1, 4, 1, 3.0, 2),
 (46, 1, 2, 3.0, 3),
 (3, 2, 1, 3.0, 1),
 (4, 2, 1, 4.0, 3),
 (1, 1, 3, 4.0, 3),
 (3, 3, 2, 3.0, 3),
 (4, 4, 3, 2.0, 3),
 (2, 2, 3, 3.0, 3),
 (4, 2, 2, 2.0, 2),
 (4, 4, 2, 3.0, 1),
 (4, 3, 3, 2.0, 3),
 (4, 3, 4, 3.0, 4),
 (4, 3, 4, 2.0, 3),
 (2, 2, 2, 3.0, 3),
 (4, 4, 1, 2.0, 3),
 (3, 2, 1, 2.0, 3),
 (1, 3, 2, 2.0, 4),
 (4, 4, 4, 3.0, 2),
 (4, 3, 4, 3.0, 3),
 (1, 3, 1, 3.0, 3),
 (3, 4, 3, 3.0, 3),
 (1, 4, 2, 2.0, 3),
 (4, 1, 2, 3.0, 3),
 (1, 2, 3, 4.0, 3),
 (3, 1, 1, 2.0, 2),
 (1, 1, 1, 3.0, 2),
 (1, 1, 4, 4.0, 3),
 (2, 3, 1, 3.0, 4),
 (4, 2, 4, 3.0, 4),
 (2, 4, 3, 1.0, 3),
 (3, 1, 1, 3.0, 3),
 (1, 3, 4, 3.0, 3),
 (3, 3, 4, 3.0, 2),
 (1, 3, 2, 2.0, 3),
 (4, 2, 3, 2.0, 3),
 (1, 3, 4, 4.0, 3),
 (2, 3, 2, 2.0, 3),
 (4, 3, 2, 3.0, 3),
 (3, 1, 4, 3.0, 3),
 (45, 1, 1, 3.0, 2),
 (4, 2, 3, 3.0, 3),
 (3, 4, 2, 4.0, 3),
 (4, 3, 1, 3.0, 3),
 (4, 4, 3, 3.0, 3),
 (3, 4, 4, 2.0, 3),
 (1, 1, 4, 1.0, 3),
 (14, 2, 2, 3.0, 3),
 (3, 2, 1, 3.0, 3),
 (3, 1, 4, 2.0, 3),
 (2, 4, 2, 2.0, 3),
 (2, 2, 2, 4.0, 3),
 (1, 3, 3, 3.0, 3),
 (4, 3, 4, 3.0, 4),
 (1, 1, 4, 3.0, 4),
 (36, 3, 2, 2.0, 2),
 (2, 3, 2, 2.0, 2),
 (2, 4, 4, 3.0, 4),
 (4, 1, 4, 3.0, 3),
 (3, 3, 2, 3.0, 3),
 (3, 4, 3, 3.0, 3),
 (4, 3, 3, 3.0, 3),
 (1, 3, 4, 1.0, 3),
 (3, 4, 4, 2.0, 3),
 (3, 4, 2, 3.0, 2),
 (1, 4, 4, 2.0, 1),
 (2, 3, 1, 3.0, 4),
 (4, 4, 3, 2.0, 3),
 (1, 1, 2, 1.0, 3),
 (3, 3, 3, 3.0, 2),
 (2, 1, 3, 3.0, 3),
 (1, 2, 2, 3.0, 3),
 (3, 3, 1, 3.0, 3),
 (4, 3, 3, 3.0, 2),
 (4, 4, 3, 3.0, 3),
 (4, 1, 2, 2.0, 3),

In [55]:
for encuesta in tqdm(encuestas):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='localhost', port='3306',
                                database='base_datos_empleados')


    mycursor = cnx.cursor()
    query = "INSERT INTO datos_encuestas_empleado (enviroment_satisfaction ,job_satisfaction, relationship_satisfaction, worklife_balance,job_involvment) VALUES (%s, %s, %s, %s, %s)"
    val = (encuesta[0],encuesta[1],encuesta[2],encuesta[3],encuesta[4])
    try: 

        mycursor.execute(query, val)
        cnx.commit()
        #print(mycursor.rowcount, "registro insertado.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

100%|██████████| 1510/1510 [01:53<00:00, 13.31it/s]

## Tabla encuestas manager

In [38]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'department', 'distancefromhome',
       'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'yearbirth', 'remotework', 'dailyrate', 'totalworkingyears'],
      dtype='object')

In [91]:
df_encuestas_manager=df[['performancerating','totalworkingyears']]

In [92]:
df_encuestas_manager=df_encuestas_manager.astype('O')

In [93]:
encuestas=[tuple(i) for i in df_encuestas_manager.values]

In [94]:
encuestas

[('3.0', 24.0),
 ('3.0', 34.0),
 ('3.0', 22.0),
 ('3.0', 11.8),
 ('3.0', 9.8),
 ('3.0', 10.0),
 ('3.0', 28.0),
 ('4.0', 20.0),
 ('3.0', 22.0),
 ('3.0', 21.0),
 ('4.0', 9.0),
 ('unknown', 33.0),
 ('3.0', 10.2),
 ('3.0', 9.6),
 ('3.0', 8.4),
 ('3.0', 9.2),
 ('3.0', 40.0),
 ('4.0', 28.0),
 ('3.0', 14.8),
 ('3.0', 18.0),
 ('4.0', 25.0),
 ('3.0', 15.0),
 ('unknown', 17.0),
 ('3.0', 11.0),
 ('3.0', 18.0),
 ('4.0', 17.0),
 ('3.0', 33.0),
 ('3.0', 18.0),
 ('3.0', 15.0),
 ('3.0', 15.0),
 ('3.0', 11.31496062992126),
 ('4.0', 25.0),
 ('3.0', 26.0),
 ('unknown', 16.0),
 ('3.0', 16.0),
 ('4.0', 24.0),
 ('4.0', 22.0),
 ('3.0', 16.0),
 ('3.0', 22.0),
 ('4.0', 20.0),
 ('3.0', 14.0),
 ('unknown', 20.0),
 ('3.0', 22.0),
 ('3.0', 18.0),
 ('4.0', 6.8),
 ('3.0', 16.0),
 ('4.0', 23.0),
 ('3.0', 25.0),
 ('3.0', 14.0),
 ('3.0', 11.31496062992126),
 ('3.0', 15.0),
 ('3.0', 23.0),
 ('3.0', 15.0),
 ('3.0', 21.0),
 ('unknown', 10.0),
 ('4.0', 17.0),
 ('3.0', 17.0),
 ('3.0', 16.0),
 ('3.0', 17.0),
 ('unknown', 15.0),
 ('3.0', 16.0),
 ('3.0', 15.0),
 ('3.0', 9.0),
 ('4.0', 15.0),
 ('3.0', 22.0),
 ('unknown', 27.0),
 ('3.0', 9.2),
 ('4.0', 10.2),
 ('4.0', 15.0),
 ('3.0', 14.0),
 ('3.0', 16.2),
 ('3.0', 6.8),
 ('3.0', 8.6),
 ('3.0', 19.0),
 ('3.0', 14.0),
 ('unknown', 6.8),
 ('3.0', 20.0),
 ('4.0', 16.0),
 ('unknown', 11.0),
 ('3.0', 38.0),
 ('3.0', 14.0),
 ('3.0', 40.0),
 ('3.0', 11.0),
 ('3.0', 9.2),
 ('unknown', 19.0),
 ('3.0', 11.31496062992126),
 ('3.0', 8.0),
 ('unknown', 7.8),
 ('3.0', 20.0),
 ('unknown', 16.6),
 ('4.0', 14.0),
 ('3.0', 15.0),
 ('3.0', 15.0),
 ('3.0', 12.0),
 ('3.0', 26.0),
 ('unknown', 10.0),
 ('4.0', 7.2),
 ('3.0', 7.0),
 ('3.0', 13.0),
 ('3.0', 29.0),
 ('3.0', 16.0),
 ('3.0', 14.0),
 ('3.0', 10.0),
 ('3.0', 21.0),
 ('3.0', 15.6),
 ('3.0', 20.0),
 ('3.0', 9.2),
 ('unknown', 12.0),
 ('3.0', 10.0),
 ('3.0', 16.0),
 ('3.0', 13.0),
 ('3.0', 12.0),
 ('3.0', 24.0),
 ('unknown', 21.0),
 ('4.0', 10.0),
 ('3.0', 7.8),
 ('3.0', 12.0),
 ('3.0', 10.0),
 ('3.0', 11.0),
 ('3.0', 16.0),
 ('3.0', 10.0),
 ('4.0', 37.0),
 ('3.0', 15.0),
 ('4.0', 10.0),
 ('unknown', 18.0),
 ('3.0', 10.4),
 ('3.0', 11.4),
 ('3.0', 10.0),
 ('3.0', 14.6),
 ('3.0', 33.0),
 ('3.0', 29.0),
 ('3.0', 17.0),
 ('3.0', 20.0),
 ('3.0', 12.2),
 ('4.0', 18.0),
 ('unknown', 15.6),
 ('4.0', 14.0),
 ('4.0', 12.0),
 ('3.0', 36.0),
 ('unknown', 10.0),
 ('3.0', 26.0),
 ('3.0', 10.2),
 ('3.0', 13.4),
 ('3.0', 14.0),
 ('3.0', 14.2),
 ('unknown', 23.0),
 ('3.0', 11.0),
 ('3.0', 8.0),
 ('3.0', 11.0),
 ('3.0', 10.4),
 ('unknown', 15.0),
 ('3.0', 12.0),
 ('4.0', 13.0),
 ('4.0', 16.0),
 ('unknown', 26.0),
 ('3.0', 16.4),
 ('3.0', 13.4),
 ('unknown', 9.8),
 ('4.0', 13.0),
 ('3.0', 10.0),
 ('3.0', 10.0),
 ('4.0', 37.0),
 ('3.0', 10.0),
 ('3.0', 10.0),
 ('3.0', 35.0),
 ('3.0', 20.0),
 ('unknown', 10.0),
 ('3.0', 14.0),
 ('3.0', 12.6),
 ('3.0', 10.6),
 ('3.0', 9.0),
 ('4.0', 12.0),
 ('4.0', 9.0),
 ('4.0', 9.0),
 ('3.0', 7.4),
 ('3.0', 9.0),
 ('3.0', 11.0),
 ('3.0', 12.0),
 ('3.0', 11.31496062992126),
 ('3.0', 9.0),
 ('3.0', 8.6),
 ('3.0', 21.0),
 ('4.0', 22.0),
 ('3.0', 14.0),
 ('4.0', 7.2),
 ('3.0', 7.0),
 ('3.0', 13.0),
 ('3.0', 11.4),
 ('3.0', 11.0),
 ('3.0', 13.0),
 ('3.0', 7.4),
 ('3.0', 11.0),
 ('3.0', 21.0),
 ('3.0', 33.0),
 ('3.0', 10.0),
 ('4.0', 14.6),
 ('3.0', 12.2),
 ('unknown', 20.0),
 ('unknown', 10.0),
 ('3.0', 10.0),
 ('3.0', 6.2),
 ('3.0', 11.31496062992126),
 ('unknown', 9.0),
 ('4.0', 31.0),
 ('3.0', 10.0),
 ('3.0', 5.2),
 ('3.0', 9.6),
 ('4.0', 12.4),
 ('3.0', 26.0),
 ('3.0', 10.0),
 ('3.0', 9.0),
 ('3.0', 15.0),
 ('3.0', 22.0),
 ('unknown', 11.0),
 ('3.0', 11.31496062992126),
 ('3.0', 14.0),
 ('3.0', 18.4),
 ('3.0', 15.0),
 ('3.0', 10.0),
 ('3.0', 10.0),
 ('unknown', 21.0),
 ('3.0', 9.0),
 ('3.0', 10.2),
 ('4.0', 18.8),
 ('3.0', 10.0),
 ('3.0', 16.0),
 ('3.0', 35.0),
 ('3.0', 16.0),
 ('3.0', 13.6),
 ('3.0', 8.2),
 ('3.0', 24.0),
 ('3.0', 10.0),
 ('3.0', 6.8),
 ('3.0', 10.0),
 ('3.0', 32.0),
 ('3.0', 11.6),
 ('3.0', 11.0),
 ('4.0', 36.0),
 ('3.0', 11.0),
 ('3.0', 9.0),
 ('3.0', 9.6),
 ('unknown', 11.0),
 ('3.0', 15.0),
 ('3.0', 14.0),
 ('4.0', 10.0),
 ('unknown', 12.8),
 ('3.0', 12.0),
 ('4.0', 13.4),
 ('3.0', 10.0),
 ('unknown', 10.0),
 ('4.0', 14.0),
 ('unknown', 10.0),
 ('3.0', 10.0),
 ('3.0', 21.0),
 ('3.0', 10.4),
 ('3.0', 12.0),
 ('3.0', 14.0),
 ('3.0', 16.0),
 ('4.0', 10.0),
 ('3.0', 12.8),
 ('3.0', 8.0),
 ('4.0', 11.31496062992126),
 ('3.0', 17.0),
 ('unknown', 10.0),
 ('4.0', 8.6),
 ('4.0', 11.0),
 ('4.0', 11.0),
 ('4.0', 9.0),
 ('3.0', 10.0),
 ('4.0', 11.8),
 ('3.0', 9.8),
 ('3.0', 9.0),
 ('3.0', 3.8),
 ('4.0', 8.0),
 ('3.0', 10.6),
 ('3.0', 20.0),
 ('4.0', 13.0),
 ('3.0', 10.0),
 ('unknown', 13.0),
 ('3.0', 8.0),
 ('3.0', 12.2),
 ('3.0', 6.6),
 ('3.0', 7.8),
 ('3.0', 9.0),
 ('3.0', 7.0),
 ('3.0', 7.0),
 ('3.0', 23.0),
 ('3.0', 10.0),
 ('unknown', 13.0),
 ('3.0', 33.0),
 ('3.0', 8.2),
 ('3.0', 13.0),
 ('3.0', 28.0),
 ('3.0', 21.0),
 ('3.0', 10.4),
 ('3.0', 7.0),
 ('3.0', 13.0),
 ('3.0', 7.8),
 ('3.0', 36.0),
 ('3.0', 19.0),
 ('3.0', 12.0),
 ('3.0', 13.8),
 ('unknown', 15.4),
 ('unknown', 16.0),
 ('unknown', 10.2),
 ('3.0', 10.0),
 ('3.0', 10.0),
 ('4.0', 8.0),
 ('4.0', 10.0),
 ('4.0', 8.0),
 ('3.0', 8.0),
 ('3.0', 10.0),
 ('3.0', 9.0),
 ('3.0', 13.0),
 ('unknown', 22.0),
 ('3.0', 6.4),
 ('3.0', 16.0),
 ('3.0', 7.2),
 ('3.0', 6.6),
 ('3.0', 10.0),
 ('3.0', 30.0),
 ('3.0', 8.0),
 ('3.0', 10.4),
 ('3.0', 10.0),
 ('3.0', 9.0),
 ('4.0', 9.0),
 ('4.0', 14.0),
 ('unknown', 7.0),
 ('3.0', 9.0),
 ('3.0', 10.8),
 ('3.0', 18.0),
 ('3.0', 21.0),
 ('unknown', 10.4),
 ('3.0', 10.0),
 ('3.0', 20.0),
 ('4.0', 8.0),
 ('3.0', 15.0),
 ('3.0', 26.0),
 ('3.0', 15.0),
 ('3.0', 12.4),
 ('3.0', 11.31496062992126),
 ('unknown', 7.4),
 ('3.0', 12.0),
 ('3.0', 10.0),
 ('4.0', 17.0),
 ('3.0', 10.8),
 ('3.0', 9.8),
 ('3.0', 9.0),
 ('3.0', 5.0),
 ('3.0', 23.0),
 ('3.0', 7.6),
 ('3.0', 10.0),
 ('3.0', 11.2),
 ('3.0', 10.4),
 ('3.0', 15.0),
 ('3.0', 16.4),
 ('unknown', 10.0),
 ('3.0', 11.0),
 ('3.0', 11.2),
 ('3.0', 10.0),
 ('3.0', 11.31496062992126),
 ('3.0', 10.0),
 ('3.0', 20.0),
 ('3.0', 21.0),
 ('3.0', 8.0),
 ('3.0', 9.2),
 ('3.0', 29.0),
 ('3.0', 31.0),
 ('3.0', 11.0),
 ('unknown', 13.0),
 ('3.0', 28.0),
 ('3.0', 14.4),
 ('3.0', 29.0),
 ('3.0', 10.0),
 ('3.0', 14.2),
 ('3.0', 9.0),
 ('4.0', 21.0),
 ('3.0', 18.0),
 ('3.0', 11.2),
 ('unknown', 11.8),
 ('3.0', 10.0),
 ('unknown', 10.0),
 ('3.0', 9.0),
 ('3.0', 12.6),
 ('3.0', 7.0),
 ('3.0', 10.0),
 ('3.0', 14.0),
 ('3.0', 7.0),
 ('3.0', 23.0),
 ('unknown', 19.0),
 ('4.0', 7.0),
 ('unknown', 9.8),
 ('unknown', 17.0),
 ('3.0', 19.0),
 ('3.0', 17.0),
 ('3.0', 10.0),
 ('3.0', 7.8),
 ('3.0', 13.0),
 ('3.0', 12.0),
 ('3.0', 8.6),
 ('4.0', 10.0),
 ('3.0', 22.0),
 ('3.0', 8.0),
 ('3.0', 9.4),
 ('3.0', 9.0),
 ('3.0', 8.0),
 ('3.0', 13.0),
 ('3.0', 10.0),
 ('unknown', 9.0),
 ('4.0', 13.0),
 ('3.0', 10.0),
 ('unknown', 8.2),
 ('unknown', 10.0),
 ('3.0', 10.0),
 ('unknown', 21.0),
 ('4.0', 8.0),
 ('3.0', 10.0),
 ('3.0', 6.4),
 ('unknown', 14.6),
 ('unknown', 24.0),
 ('unknown', 14.0),
 ('3.0', 9.0),
 ('4.0', 20.0),
 ('3.0', 10.0),
 ('unknown', 12.0),
 ('3.0', 17.0),
 ('3.0', 15.0),
 ('3.0', 22.0),
 ('3.0', 23.0),
 ('3.0', 6.0),
 ('3.0', 7.6),
 ('3.0', 10.0),
 ('4.0', 8.0),
 ('3.0', 31.0),
 ('4.0', 10.0),
 ('3.0', 8.6),
 ('3.0', 10.0),
 ('3.0', 8.8),
 ('unknown', 24.0),
 ('3.0', 23.0),
 ('3.0', 18.0),
 ('3.0', 7.0),
 ('3.0', 10.0),
 ('3.0', 15.4),
 ('unknown', 8.0),
 ('3.0', 7.2),
 ('3.0', 10.4),
 ('4.0', 36.0),
 ('3.0', 11.0),
 ('3.0', 10.0),
 ('unknown', 21.0),
 ('3.0', 11.2),
 ('3.0', 13.4),
 ('3.0', 24.0),
 ('3.0', 17.0),
 ('3.0', 10.0),
 ('4.0', 13.4),
 ('3.0', 15.2),
 ('3.0', 6.0),
 ('3.0', 9.0),
 ('3.0', 6.0),
 ('4.0', 6.0),
 ('3.0', 8.8),
 ('3.0', 7.0),
 ('3.0', 10.0),
 ('3.0', 12.4),
 ('3.0', 9.0),
 ('3.0', 8.0),
 ('3.0', 10.2),
 ('3.0', 10.4),
 ('3.0', 6.0),
 ('unknown', 13.2),
 ('4.0', 6.0),
 ('4.0', 6.0),
 ('unknown', 6.0),
 ('4.0', 17.0),
 ('3.0', 6.0),
 ('3.0', 8.6),
 ('4.0', 11.0),
 ('3.0', 8.0),
 ('4.0', 14.2),
 ('3.0', 6.0),
 ('3.0', 10.0),
 ('unknown', 6.0),
 ('4.0', 16.6),
 ('3.0', 17.0),
 ('3.0', 7.0),
 ('3.0', 9.0),
 ('3.0', 10.0),
 ('4.0', 7.0),
 ('unknown', 25.0),
 ('3.0', 8.0),
 ('3.0', 6.0),
 ('4.0', 9.4),
 ('3.0', 10.0),
 ('3.0', 6.0),
 ('3.0', 37.0),
 ('3.0', 5.0),
 ('3.0', 10.0),
 ('3.0', 7.0),
 ('3.0', 5.0),
 ('4.0', 15.0),
 ('3.0', 11.31496062992126),
 ('3.0', 10.2),
 ('4.0', 8.0),
 ('3.0', 9.0),
 ('3.0', 7.0),
 ('4.0', 10.0),
 ('3.0', 6.0),
 ('3.0', 8.0),
 ('3.0', 8.6),
 ('3.0', 12.6),
 ('3.0', 28.0),
 ('3.0', 9.8),
 ('3.0', 5.0),
 ('3.0', 17.6),
 ('3.0', 16.2),
 ('4.0', 9.8),
 ('3.0', 8.0),
 ('3.0', 10.8),
 ('4.0', 12.8),
 ('3.0', 7.2),
 ('3.0', 5.0),
 ('unknown', 9.0),
 ('unknown', 9.8),
 ('3.0', 19.0),
 ('4.0', 11.0),
 ('3.0', 7.6),
 ('4.0', 10.0),
 ('3.0', 5.0),
 ('3.0', 7.0),
 ('3.0', 6.0),
 ('3.0', 8.0),
 ('3.0', 10.0),
 ('3.0', 18.0),
 ('4.0', 11.2),
 ('3.0', 17.2),
 ('3.0', 8.0),
 ('3.0', 13.0),
 ('3.0', 9.6),
 ('3.0', 11.6),
 ('unknown', 32.0),
 ('3.0', 14.0),
 ('3.0', 13.0),
 ('3.0', 18.0),
 ('unknown', 9.8),
 ('3.0', 9.0),
 ('3.0', 6.0),
 ('3.0', 7.2),
 ('3.0', 6.0),
 ('unknown', 6.0),
 ('3.0', 5.0),
 ('3.0', 33.0),
 ('3.0', 9.2),
 ('unknown', 10.0),
 ('3.0', 11.6),
 ('3.0', 9.0),
 ('4.0', 5.0),
 ('3.0', 8.0),
 ('3.0', 8.0),
 ('3.0', 8.0),
 ('4.0', 13.0),
 ('unknown', 12.0),
 ('3.0', 15.0),
 ('3.0', 10.0),
 ('3.0', 11.31496062992126),
 ('3.0', 7.0),
 ('3.0', 13.4),
 ('3.0', 8.0),
 ('3.0', 13.2),
 ('3.0', 15.0),
 ('4.0', 10.8),
 ('3.0', 6.8),
 ('3.0', 6.0),
 ('3.0', 5.0),
 ('3.0', 10.2),
 ('3.0', 6.0),
 ('3.0', 10.0),
 ('3.0', 8.0),
 ('4.0', 13.6),
 ('4.0', 13.0),
 ('unknown', 5.0),
 ('3.0', 6.0),
 ('4.0', 9.0),
 ('3.0', 5.0),
 ('unknown', 6.0),
 ('3.0', 15.0),
 ('3.0', 6.0),
 ('4.0', 14.0),
 ('3.0', 14.6),
 ('3.0', 28.0),
 ('4.0', 5.0),
 ('3.0', 14.0),
 ('3.0', 5.0),
 ('3.0', 10.0),
 ('4.0', 10.6),
 ('3.0', 6.0),
 ('unknown', 7.2),
 ('4.0', 9.0),
 ('3.0', 10.0),
 ('unknown', 10.4),
 ('unknown', 20.0),
 ('4.0', 22.0),
 ('3.0', 16.0),
 ('3.0', 28.0),
 ('unknown', 7.2),
 ('3.0', 8.8),
 ('3.0', 11.8),
 ('3.0', 6.0),
 ('3.0', 13.2),
 ('3.0', 12.0),
 ('unknown', 12.0),
 ('4.0', 4.0),
 ('3.0', 11.0),
 ('3.0', 16.0),
 ('3.0', 9.0),
 ('3.0', 4.0),
 ('unknown', 15.2),
 ('3.0', 6.0),
 ('3.0', 21.0),
 ('3.0', 5.0),
 ('4.0', 15.2),
 ('3.0', 9.0),
 ('3.0', 7.0),
 ('3.0', 4.0),
 ('unknown', 20.0),
 ('4.0', 8.8),
 ('unknown', 9.0),
 ('3.0', 20.0),
 ('3.0', 6.0),
 ('3.0', 9.0),
 ('3.0', 14.0),
 ('3.0', 8.0),
 ('3.0', 10.8),
 ('3.0', 14.2),
 ('3.0', 5.2),
 ('4.0', 9.8),
 ('3.0', 6.0),
 ('3.0', 6.0),
 ('3.0', 5.0),
 ('3.0', 18.0),
 ('3.0', 5.0),
 ('3.0', 7.2),
 ('3.0', 18.6),
 ('3.0', 11.31496062992126),
 ('unknown', 9.2),
 ('3.0', 13.2),
 ('3.0', 10.2),
 ('3.0', 8.0),
 ('3.0', 10.6),
 ('3.0', 9.4),
 ('3.0', 9.0),
 ('3.0', 5.0),
 ('3.0', 17.0),
 ('3.0', 11.8),
 ('3.0', 8.0),
 ('3.0', 6.0),
 ('unknown', 8.0),
 ('3.0', 4.0),
 ('3.0', 4.0),
 ('3.0', 18.6),
 ('3.0', 26.0),
 ('3.0', 11.0),
 ('3.0', 8.0),
 ('3.0', 9.8),
 ('3.0', 6.0),
 ('3.0', 11.31496062992126),
 ('4.0', 6.0),
 ('3.0', 7.4),
 ('unknown', 7.0),
 ('3.0', 8.0),
 ('3.0', 7.4),
 ('3.0', 11.31496062992126),
 ('3.0', 5.0),
 ('3.0', 8.8),
 ('3.0', 36.0),
 ('3.0', 11.31496062992126),
 ('3.0', 5.0),
 ('3.0', 10.2),
 ('3.0', 5.0),
 ('4.0', 20.0),
 ('3.0', 10.0),
 ('3.0', 7.0),
 ('3.0', 5.0),
 ('unknown', 7.0),
 ('4.0', 6.0),
 ('3.0', 5.0),
 ('3.0', 5.0),
 ('4.0', 6.0),
 ('3.0', 10.0),
 ('4.0', 6.0),
 ('3.0', 7.8),
 ('3.0', 6.0),
 ('3.0', 12.0),
 ('4.0', 4.0),
 ('3.0', 11.0),
 ('3.0', 6.0),
 ('3.0', 5.0),
 ('3.0', 9.0),
 ('3.0', 7.2),
 ('4.0', 7.0),
 ('4.0', 5.0),
 ('3.0', 11.2),
 ('3.0', 5.0),
 ('4.0', 8.4),
 ('3.0', 7.0),
 ('3.0', 10.0),
 ('3.0', 12.0),
 ('3.0', 13.8),
 ('4.0', 10.0),
 ('3.0', 9.0),
 ('4.0', 16.0),
 ('unknown', 6.0),
 ('3.0', 24.0),
 ('3.0', 9.0),
 ('3.0', 4.0),
 ('3.0', 10.0),
 ('3.0', 9.0),
 ('unknown', 7.4),
 ('4.0', 6.0),
 ('3.0', 6.0),
 ('3.0', 12.0),
 ('3.0', 8.0),
 ('3.0', 9.2),
 ('3.0', 20.0),
 ('3.0', 4.0),
 ('3.0', 10.0),
 ('3.0', 11.31496062992126),
 ('3.0', 6.0),
 ('3.0', 5.0),
 ('3.0', 3.0),
 ('3.0', 6.0),
 ('3.0', 7.0),
 ('3.0', 6.0),
 ('3.0', 5.0),
 ('3.0', 14.2),
 ('unknown', 11.31496062992126),
 ('3.0', 22.0),
 ('3.0', 14.8),
 ('3.0', 3.0),
 ('3.0', 2.0),
 ('unknown', 2.0),
 ('3.0', 5.0),
 ('unknown', 4.0),
 ('3.0', 5.0),
 ('unknown', 13.4),
 ('4.0', 11.31496062992126),
 ('3.0', 8.2),
 ('4.0', 10.0),
 ('4.0', 4.0),
 ('3.0', 10.4),
 ('4.0', 6.6),
 ('4.0', 6.2),
 ('3.0', 13.2),
 ('3.0', 9.8),
 ('3.0', 16.0),
 ('3.0', 4.0),
 ('4.0', 7.0),
 ('3.0', 18.0),
 ('3.0', 11.31496062992126),
 ('4.0', 19.0),
 ('unknown', 8.0),
 ('4.0', 2.0),
 ('3.0', 10.2),
 ('3.0', 5.0),
 ('3.0', 6.0),
 ('3.0', 18.8),
 ('unknown', 11.31496062992126),
 ('4.0', 7.0),
 ('3.0', 9.0),
 ('3.0', 11.0),
 ('3.0', 5.0),
 ('3.0', 11.31496062992126),
 ('3.0', 8.4),
 ('3.0', 18.6),
 ('3.0', 4.0),
 ('3.0', 5.0),
 ('3.0', 17.0),
 ('3.0', 8.0),
 ('3.0', 9.6),
 ('3.0', 16.0),
 ('4.0', 20.2),
 ('3.0', 12.6),
 ('3.0', 14.8),
 ('3.0', 4.0),
 ('3.0', 7.0),
 ('3.0', 4.0),
 ('3.0', 10.4),
 ('3.0', 2.0),
 ('3.0', 9.0),
 ('3.0', 11.4),
 ('3.0', 11.0),
 ('3.0', 5.0),
 ('3.0', 9.0),
 ('4.0', 7.0),
 ('3.0', 8.8),
 ('3.0', 13.4),
 ('3.0', 15.2),
 ('3.0', 8.0),
 ('3.0', 12.8),
 ('3.0', 2.0),
 ('3.0', 10.6),
 ('3.0', 3.0),
 ('4.0', 3.0),
 ('3.0', 3.0),
 ('3.0', 5.0),
 ('4.0', 9.8),
 ('3.0', 6.0),
 ('3.0', 31.0),
 ('3.0', 3.0),
 ('4.0', 5.6),
 ('3.0', 10.8),
 ('3.0', 6.0),
 ('3.0', 8.0),
 ('3.0', 15.0),
 ('3.0', 12.4),
 ('3.0', 10.4),
 ('3.0', 10.6),
 ('3.0', 4.0),
 ('3.0', 8.0),
 ('3.0', 14.4),
 ('3.0', 10.6),
 ('3.0', 3.0),
 ('3.0', 10.0),
 ('3.0', 10.0),
 ('3.0', 21.0),
 ('unknown', 10.0),
 ('3.0', 8.0),
 ('unknown', 7.4),
 ('3.0', 26.0),
 ('4.0', 11.31496062992126),
 ('unknown', 12.0),
 ('3.0', 13.0),
 ('3.0', 5.0),
 ('3.0', 5.0),
 ('4.0', 4.0),
 ('3.0', 12.2),
 ('3.0', 9.8),
 ('3.0', 10.0),
 ('3.0', 4.0),
 ('3.0', 9.0),
 ('3.0', 28.0),
 ('3.0', 12.0),
 ('unknown', 7.0),
 ('4.0', 5.0),
 ('3.0', 11.8),
 ('3.0', 19.0),
 ('3.0', 12.0),
 ('3.0', 24.0),
 ('3.0', 12.8),
 ('3.0', 6.6),
 ('3.0', 5.0),
 ('3.0', 3.0),
 ('unknown', 7.0),
 ('3.0', 8.0),
 ('4.0', 9.0),
 ('3.0', 13.4),
 ('3.0', 7.0),
 ('3.0', 5.0),
 ('3.0', 14.0),
 ('3.0', 6.0),
 ('3.0', 4.0),
 ('3.0', 10.0),
 ('3.0', 8.0),
 ('3.0', 35.0),
 ('4.0', 4.0),
 ('4.0', 10.0),
 ('3.0', 10.0),
 ('3.0', 5.0),
 ('3.0', 7.0),
 ('3.0', 11.4),
 ('3.0', 3.0),
 ('3.0', 5.0),
 ('3.0', 12.0),
 ('3.0', 4.0),
 ('3.0', 2.0),
 ('3.0', 3.0),
 ('3.0', 4.0),
 ('3.0', 6.0),
 ('4.0', 8.4),
 ('3.0', 11.6),
 ('3.0', 8.0),
 ('3.0', 5.0),
 ('4.0', 4.0),
 ('3.0', 5.0),
 ('3.0', 4.0),
 ('3.0', 7.4),
 ('3.0', 5.0),
 ('4.0', 5.0),
 ('3.0', 4.0),
 ('3.0', 19.0),
 ('3.0', 8.0),
 ('3.0', 18.8),
 ('4.0', 3.0),
 ('3.0', 16.2),
 ('3.0', 8.0),
 ('3.0', 2.0),
 ('3.0', 7.0),
 ('3.0', 3.0),
 ('3.0', 23.0),
 ('3.0', 8.0),
 ('3.0', 4.0),
 ('3.0', 7.4),
 ('4.0', 5.0),
 ('3.0', 4.0),
 ('3.0', 5.0),
 ('3.0', 28.0),
 ('3.0', 2.0),
 ('4.0', 5.2),
 ('3.0', 25.0),
 ('4.0', 2.0),
 ('3.0', 16.0),
 ('3.0', 3.0),
 ('4.0', 2.0),
 ('3.0', 4.0),
 ('3.0', 9.0),
 ('unknown', 4.0),
 ('3.0', 14.8),
 ('3.0', 5.0),
 ('3.0', 16.2),
 ('3.0', 6.2),
 ('3.0', 6.0),
 ('3.0', 10.0),
 ('3.0', 11.31496062992126),
 ('3.0', 19.0),
 ('3.0', 11.31496062992126),
 ('unknown', 10.0),
 ('3.0', 6.0),
 ('3.0', 17.0),
 ('4.0', 7.0),
 ('3.0', 11.31496062992126),
 ('4.0', 8.8),
 ('3.0', 5.0),
 ('3.0', 4.0),
 ('3.0', 10.0),
 ('3.0', 14.0),
 ('3.0', 12.0),
 ('3.0', 4.0),
 ('3.0', 6.0),
 ('3.0', 11.31496062992126),
 ('unknown', 8.0),
 ('3.0', 8.0),
 ('3.0', 10.0),
 ('3.0', 7.0),
 ('3.0', 11.31496062992126),
 ('3.0', 6.6),
 ('3.0', 11.0),
 ('3.0', 6.0),
 ('4.0', 5.0),
 ('3.0', 7.0),
 ('unknown', 8.0),
 ('3.0', 7.0),
 ('3.0', 11.8),
 ('3.0', 2.0),
 ('3.0', 7.0),
 ('unknown', 20.0),
 ('3.0', 6.0),
 ('3.0', 5.0),
 ('unknown', 16.0),
 ('3.0', 4.0),
 ('3.0', 5.0),
 ('4.0', 10.0),
 ('3.0', 12.0),
 ('unknown', 10.0),
 ('3.0', 7.0),
 ('3.0', 8.0),
 ('4.0', 7.0),
 ('3.0', 11.0),
 ('3.0', 9.0),
 ('3.0', 16.6),
 ('3.0', 8.4),
 ('3.0', 7.8),
 ('3.0', 8.0),
 ('3.0', 11.31496062992126),
 ('3.0', 4.0),
 ('3.0', 9.0),
 ('3.0', 8.0),
 ('unknown', 4.0),
 ('3.0', 6.0),
 ('3.0', 18.6),
 ('3.0', 7.0),
 ('3.0', 4.0),
 ('3.0', 27.0),
 ('3.0', 14.4),
 ('unknown', 18.0),
 ('4.0', 15.0),
 ('3.0', 6.8),
 ('3.0', 5.0),
 ('3.0', 10.4),
 ('3.0', 10.0),
 ('3.0', 11.4),
 ('unknown', 9.0),
 ('3.0', 27.0),
 ('3.0', 2.0),
 ('3.0', 4.0),
 ('3.0', 6.0),
 ('3.0', 17.0),
 ('3.0', 29.0),
 ('3.0', 13.4),
 ('3.0', 10.0),
 ...]

In [113]:
for encuesta in tqdm(encuestas):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='localhost', port='3306',
                                database='base_datos_empleados')


    mycursor = cnx.cursor()
    query = "INSERT INTO datos_encuestas_manager (performance_rating, ejemplo) VALUES (%s, %s)"
    val = (encuesta[0],encuesta[1])
    try: 

        mycursor.execute(query, val)
        cnx.commit()
        #print(mycursor.rowcount, "registro insertado.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

  0%|          | 0/1510 [00:00<?, ?it/s]

100%|██████████| 1510/1510 [01:57<00:00, 12.87it/s]

## Tabla datos personales

In [114]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'department', 'distancefromhome',
       'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'yearbirth', 'remotework', 'dailyrate', 'totalworkingyears'],
      dtype='object')

In [115]:
df_datos_personales=df[['yearbirth','age', 'distancefromhome', 'gender', 'education', 'educationfield', 'numcompaniesworked', 'totalworkingyears', 'maritalstatus', 'yearswithcurrmanager', 'yearssincelastpromotion','yearsatcompany']]

In [119]:
df_datos_personales

,yearbirth,age,distancefromhome,gender,education,educationfield,numcompaniesworked,totalworkingyears,maritalstatus,yearswithcurrmanager,yearssincelastpromotion,yearsatcompany
0,1972,51,NaN,male,university,unknown,7,24.0,unknown,15,15,20
1,1971,52,NaN,male,master degree,life sciences,0,34.0,unknown,9,11,33
2,1981,42,NaN,male,college,technical degree,1,22.0,married,15,11,22
3,1976,47,NaN,female,master degree,medical,3,11.8,married,6,5,20
4,1977,46,NaN,female,university,technical degree,2,9.8,divorced,8,2,19
...,...,...,...,...,...,...,...,...,...,...,...,...
1609,1987,36,NaN,male,high school,life sciences,1,13.2,married,7,3,16
1610,1978,45,NaN,male,college,unknown,1,5.6,unknown,8,0,9
1611,1984,39,unknown,male,phd,unknown,0,9.0,single,7,0,8
1612,1987,36,NaN,male,master degree,technical degree,4,12.0,divorced,7,0,7
1613,1977,46,NaN,male,college,medical,6,13.0,unknown,7,0,8

In [116]:
datos=[tuple(i) for i in df_datos_personales.values]

In [118]:
for dato in tqdm(datos):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='localhost', port='3306',
                                database='base_datos_empleados')


    mycursor = cnx.cursor()
    query = "INSERT INTO datos_personales (year_birth ,age, distance_from_home, gender, education, education_field, num_companies_worked, total_working_years, marital_status, year_with_current_manager, years_since_last_promotion, years_at_company) VALUES (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s)"
    val = (dato[0],dato[1],dato[2],dato[3],dato[4],dato[5],dato[6],dato[7],dato[8],dato[9],dato[10],dato[11],)
    try: 

        mycursor.execute(query, val)
        cnx.commit()
        #print(mycursor.rowcount, "registro insertado.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

  0%|          | 2/1510 [00:00<02:39,  9.46it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  0%|          | 6/1510 [00:00<02:04, 12.06it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 8/1510 [00:00<01:59, 12.55it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 12/1510 [00:01<02:01, 12.33it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 14/1510 [00:01<02:03, 12.15it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 18/1510 [00:01<01:58, 12.56it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|▏         | 22/1510 [00:01<01:58, 12.57it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 24/1510 [00:01<01:54, 12.95it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 28/1510 [00:02<01:48, 13.69it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 30/1510 [00:02<01:46, 13.88it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 34/1510 [00:02<01:47, 13.76it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 38/1510 [00:02<01:43, 14.20it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 40/1510 [00:03<01:42, 14.29it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 44/1510 [00:03<01:45, 13.93it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 48/1510 [00:03<01:42, 14.21it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 52/1510 [00:03<01:41, 14.32it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▎         | 56/1510 [00:04<01:48, 13.42it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 58/1510 [00:04<01:50, 13.20it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 62/1510 [00:04<01:49, 13.19it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 64/1510 [00:04<01:51, 12.98it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

KeyboardInterrupt:

## Tabla datos salario

In [ ]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'department', 'distancefromhome',
       'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'yearbirth', 'remotework', 'dailyrate', 'totalworkingyears'],
      dtype='object')

In [ ]:
df_datos_salario=df[['overtime', 'monthlyincome', 'monthlyrate', 'percentsalaryhike','hourlyrate' ]]

In [ ]:
datos=[tuple(i) for i in df_datos_salario.values]

In [ ]:
for dato in tqdm(datos):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='localhost', port='3306',
                                database='base_datos_empleados')


    mycursor = cnx.cursor()
    query = "INSERT INTO datos_salario ( overtime, montly_income, monthly_rate, percent_salary_hike, hourly_rate) VALUES (%s, %s, %s, %s, %s)"
    val = (dato[0],dato[1],dato[2],dato[3],dato[4])
    try: 

        mycursor.execute(query, val)
        cnx.commit()
        #print(mycursor.rowcount, "registro insertado.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

  0%|          | 2/1510 [00:00<02:39,  9.46it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  0%|          | 6/1510 [00:00<02:04, 12.06it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 8/1510 [00:00<01:59, 12.55it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 12/1510 [00:01<02:01, 12.33it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 14/1510 [00:01<02:03, 12.15it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 18/1510 [00:01<01:58, 12.56it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|▏         | 22/1510 [00:01<01:58, 12.57it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 24/1510 [00:01<01:54, 12.95it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 28/1510 [00:02<01:48, 13.69it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 30/1510 [00:02<01:46, 13.88it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 34/1510 [00:02<01:47, 13.76it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 38/1510 [00:02<01:43, 14.20it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 40/1510 [00:03<01:42, 14.29it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 44/1510 [00:03<01:45, 13.93it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 48/1510 [00:03<01:42, 14.21it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 52/1510 [00:03<01:41, 14.32it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▎         | 56/1510 [00:04<01:48, 13.42it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 58/1510 [00:04<01:50, 13.20it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 62/1510 [00:04<01:49, 13.19it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 64/1510 [00:04<01:51, 12.98it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

KeyboardInterrupt:

## Tabla rotacion

In [ ]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'department', 'distancefromhome',
       'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'yearbirth', 'remotework', 'dailyrate', 'totalworkingyears'],
      dtype='object')

In [ ]:
df_datos_rotacion=df[['employeenumber', 'attrition']]

In [ ]:
datos=[tuple(i) for i in df_datos_rotacion.values]

In [ ]:
for dato in tqdm(datos):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='localhost', port='3306',
                                database='base_datos_empleados')


    mycursor = cnx.cursor()
    query = "INSERT INTO rotacion ( employeenumber, attrition) VALUES (%s, %s)"
    val = (dato[0],dato[1])
    try: 

        mycursor.execute(query, val)
        cnx.commit()
        #print(mycursor.rowcount, "registro insertado.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

  0%|          | 2/1510 [00:00<02:39,  9.46it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  0%|          | 6/1510 [00:00<02:04, 12.06it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 8/1510 [00:00<01:59, 12.55it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 12/1510 [00:01<02:01, 12.33it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 14/1510 [00:01<02:03, 12.15it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|          | 18/1510 [00:01<01:58, 12.56it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  1%|▏         | 22/1510 [00:01<01:58, 12.57it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 24/1510 [00:01<01:54, 12.95it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 28/1510 [00:02<01:48, 13.69it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 30/1510 [00:02<01:46, 13.88it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  2%|▏         | 34/1510 [00:02<01:47, 13.76it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 38/1510 [00:02<01:43, 14.20it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 40/1510 [00:03<01:42, 14.29it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 44/1510 [00:03<01:45, 13.93it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 48/1510 [00:03<01:42, 14.21it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  3%|▎         | 52/1510 [00:03<01:41, 14.32it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▎         | 56/1510 [00:04<01:48, 13.42it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 58/1510 [00:04<01:50, 13.20it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 62/1510 [00:04<01:49, 13.19it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

  4%|▍         | 64/1510 [00:04<01:51, 12.98it/s]

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

KeyboardInterrupt:

In [ ]:
datos_encuestas_manager

In [110]:
config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'base_datos_empleados',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()